flows.json
[{"id":"cc44377c.6d30e8","type":"robot-socket","z":"4bc57857.bd8348","name":"user injected","host":"127.0.0.1:1880","regpoint":"2512ced9.2f3812","simulated":"0","x":490,"y":160,"wires":[["f6f41034.8128"]]},{"id":"d1ebc65a.a6b8e8","type":"inject","z":"4bc57857.bd8348","name":"","topic":"UI value","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["cc44377c.6d30e8","f52b84b2.dbd2a8"]]},{"id":"f6f41034.8128","type":"debug","z":"4bc57857.bd8348","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":631,"y":160,"wires":[]},{"id":"d88e4ee9.f3d7f","type":"http in","z":"4bc57857.bd8348","name":"","url":"/SMONDO/*","method":"get","upload":false,"swaggerDoc":"","x":210,"y":320,"wires":[["e9efb2e1.836ac"]]},{"id":"d459f406.1a4fc8","type":"json","z":"4bc57857.bd8348","name":"","property":"payload","action":"obj","pretty":false,"x":552,"y":320,"wires":[["5a160da.f8ff5f4"]]},{"id":"e9efb2e1.836ac","type":"file in","z":"4bc57857.bd8348","name":"","filename":"GETDATA.json","format":"utf8","chunk":false,"sendError":false,"x":400,"y":320,"wires":[["d459f406.1a4fc8"]]},{"id":"5a160da.f8ff5f4","type":"robot-socket","z":"4bc57857.bd8348","name":"robot injected","host":"127.0.0.1:1880","regpoint":"2512ced9.2f3812","simulated":"0","x":720,"y":320,"wires":[[]]},{"id":"f52b84b2.dbd2a8","type":"debug","z":"4bc57857.bd8348","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":471,"y":120,"wires":[]},{"id":"f99d42f2.93296","type":"inject","z":"4bc57857.bd8348","name":"","topic":"UI value","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["cc44377c.6d30e8"]]},{"id":"92aee817.2336c8","type":"inject","z":"4bc57857.bd8348","name":"","topic":"UI value","payload":"$UALRM_MSG[1]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["cc44377c.6d30e8"]]},{"id":"2512ced9.2f3812","type":"fanuc-registry","z":"","reg":"RI","index":"4"}]