motioncell-flow.json
[{"id":"e5e24c23.7a463","type":"tab","label":"Servo Control","disabled":false,"info":""},{"id":"6ae93295.8ec08c","type":"tab","label":"Digital IO","disabled":false,"info":""},{"id":"ef364d63.72de9","type":"tab","label":"MT6000","disabled":false,"info":""},{"id":"3260938e.c8e16c","type":"tab","label":"Motion Program","disabled":false,"info":""},{"id":"3154d002.9ac9f","type":"tab","label":"MES and Barcode","disabled":false,"info":""},{"id":"635dfead.b0f3b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3a85359a.e6824a","type":"subflow","name":"Pick Screw","info":"","in":[{"x":20,"y":320,"wires":[{"id":"fe11654c.6112c8"}]}],"out":[{"x":1220,"y":540,"wires":[{"id":"9a0ea4d5.793208","port":0}]},{"x":1940,"y":200,"wires":[{"id":"d779fe73.c4cc3","port":0},{"id":"c5bd9848.6a48c8","port":0},{"id":"91d529df.a2cc28","port":0}]},{"x":500,"y":140,"wires":[{"id":"fe11654c.6112c8","port":0}]},{"x":720,"y":380,"wires":[{"id":"1177b78a.82f298","port":0}]}],"inputLabels":["In from Program Sequence"],"outputLabels":["Out to program Sequence","Out to Servos","Out to P-Set1  Select","Out to MT Start"]},{"id":"cbece41c.1a9cf8","type":"subflow","name":"Place Screw","info":"","in":[{"x":461.99999809265137,"y":313,"wires":[{"id":"8998271a.5f8778"},{"id":"6dc402a6.a7fd4c"}]}],"out":[{"x":2176,"y":338,"wires":[{"id":"b4a873f6.fa9ec","port":0}]},{"x":1600,"y":300,"wires":[{"id":"f149b9d6.40f5c8","port":0},{"id":"eaf5aea9.154d5","port":0},{"id":"52ab797e.4ea568","port":0}]},{"x":660,"y":60,"wires":[{"id":"cbece41c.1a9cf8","port":0}]},{"x":1280,"y":100,"wires":[{"id":"52ab797e.4ea568","port":0}]}]},{"id":"6f4951af.375d3","type":"serial-port","z":"ef364d63.72de9","serialport":"COM33","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"250","bin":"false","out":"time","addchar":false},{"id":"267348b9.dbcfb8","type":"modbus-client","z":"","name":"Wago IO","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.3","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"171796c7.2abf09","type":"serial-port","z":"","serialport":"com10","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"10","bin":"false","out":"time","addchar":false},{"id":"116ad90.3d93c27","type":"serial-port","z":"3154d002.9ac9f","serialport":"COM33","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"250","bin":"false","out":"time","addchar":false},{"id":"9732b332.74bd1","type":"serial-port","z":"","serialport":"COM10","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"false","out":"time","addchar":false},{"id":"4d59c1b8.c7bfb","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"MotionCell-1C","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"88ea0d57.ca818","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","order":1},{"id":"4918244a.12996c","type":"ui_tab","z":0,"name":"Tool Controls","icon":"dashboard","order":2},{"id":"6b22298f.56b738","type":"ui_tab","z":0,"name":"System Controls","icon":"dashboard","order":3},{"id":"de6b25a6.a01ea8","type":"ui_group","z":0,"name":"Program Select","tab":"88ea0d57.ca818","order":1,"disp":true,"width":"34"},{"id":"89ca9b29.12ae28","type":"ui_group","z":0,"name":"Currenst Step","tab":"","order":5,"disp":true,"width":"6"},{"id":"86a415b6.b5eab8","type":"ui_group","z":0,"name":"Fastening Info","tab":"88ea0d57.ca818","order":4,"disp":true,"width":"27"},{"id":"5e7674aa.63668c","type":"ui_group","z":0,"name":"Current Tool Torque and Angle","tab":"88ea0d57.ca818","order":3,"disp":true,"width":"30"},{"id":"82cc784b.5c51c8","type":"ui_group","z":0,"name":"Current System Status","tab":"88ea0d57.ca818","order":5,"disp":true,"width":"30"},{"id":"d43aa6c.2019a58","type":"ui_group","z":0,"name":"Control Buttons","tab":"88ea0d57.ca818","order":6,"disp":false,"width":"4"},{"id":"73ae1969.836db8","type":"ui_group","z":0,"name":"Tool Controls","tab":"4918244a.12996c","order":1,"disp":true,"width":"30"},{"id":"a1f952c7.76351","type":"ui_group","z":0,"name":"System Controls","tab":"6b22298f.56b738","order":1,"disp":true,"width":"30"},{"id":"80669a26.6fad88","type":"ui_group","z":0,"name":"System Status","tab":"6b22298f.56b738","order":2,"disp":true,"width":"30"},{"id":"5dc37d22.768644","type":"modbustcp-server","z":"","host":"192.168.1.3","port":"502","unit_id":"1","reconnecttimeout":"1"},{"id":"4b63b739.756588","type":"ui_group","z":"","name":"Last MES Status Response","tab":"88ea0d57.ca818","order":6,"disp":false,"width":"30"},{"id":"8f4a1813.a65568","type":"ui_group","z":"","name":"image","tab":"","disp":false,"width":"24"},{"id":"228d2f8.85130d","type":"ui_group","z":"","name":"Operation Status","tab":"88ea0d57.ca818","order":7,"disp":true,"width":"30"},{"id":"74e32c02.b2cad4","type":"comment","z":"e5e24c23.7a463","name":"Notes","info":"Commands to Drive:\nMove to Position\nMove Velocity\nHome Drives\nSet Torque\nSet Speed\nSet Com Port or Drive\n","x":1090,"y":60,"wires":[]},{"id":"e03b3377.4118f","type":"daemon","z":"e5e24c23.7a463","command":"C:\\Users\\User\\.node-red\\RME Files\\Refined Motion Application\\Motion_Control\\x64\\Release\\Motion_Control.exe","args":"","cr":true,"redo":true,"op":"lines","name":"Motion Control","x":820,"y":600,"wires":[["8a49835f.5896c"],[],["bfcdd40f.26b268"]]},{"id":"bcf6c677.c93ca8","type":"json","z":"e5e24c23.7a463","name":"","pretty":true,"x":990,"y":460,"wires":[["3a34e940.abe396"]]},{"id":"3a34e940.abe396","type":"function","z":"e5e24c23.7a463","name":"Set Incoming Servo Values to Global Variables","func":"var incomingMSG = msg.payload;\nvar functionCMD = incomingMSG.functionCMD;\n\n\nif (functionCMD==\"status\"){\n    global.set(\"xPosition\", incomingMSG.xPosition);\n    global.set(\"yPosition\", incomingMSG.yPosition);\n    global.set(\"zPosition\", incomingMSG.zPosition);\n    global.set(\"xTorque\", incomingMSG.xTorque);\n    global.set(\"yTorque\", incomingMSG.yTorque);\n    global.set(\"zTorque\", incomingMSG.zTorque);\n    global.set(\"xReady\", incomingMSG.xReady);\n    global.set(\"yReady\", incomingMSG.yReady);\n    global.set(\"zReady\", incomingMSG.zReady);  \n    global.set(\"movingDone\", incomingMSG.movingDone);\n    global.set(\"moveID\", incomingMSG.moveID);\n    global.set(\"homingDone\", incomingMSG.homingDone);\n    \n    \n    if (incomingMSG.xReady && incomingMSG.yReady && incomingMSG.zReady){\n    global.set(\"servosOK\", 1);}\n        else {global.set(\"servosOK\", 0);}\n}\n\n\nif (functionCMD==\"setAccel\"){\n    global.set(\"accelVal\", incomingMSG.accelVal);\n\n}\n\n\nvar msg1 = { payload: global.get(\"homingDone\") };\nvar msg2 = { payload: global.get(\"movingDone\") };\nvar msg3 = { payload: global.get(\"xPosition\")};\nvar msg4 = { payload: global.get(\"yPosition\")};\nvar msg5 = { payload: global.get(\"zPosition\")};\n\nvar msg6 = { payload: global.get(\"xTorque\")};\nvar msg7 = { payload: global.get(\"yTorque\")};\nvar msg8 = { payload: global.get(\"zTorque\")};\n\nvar msg9 = { payload: global.get(\"moveID\")};\nvar msg10 = { payload: global.get(\"accelVal\")};\n\nvar msg11 = { payload: global.get(\"servosOK\")};\n\n\n\n\nreturn [ msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10, msg11];\n","outputs":11,"noerr":0,"x":1260,"y":460,"wires":[["23a61c45.a5cb74","1fd40e71.ad8172"],[],["a1aa0d24.8925"],["4074fd18.1036f4"],["2dcba4db.27725c"],[],[],["cd6097c2.9f57f8"],[],[],["2ae17db9.3211c2","9a077da9.98d87"]],"outputLabels":["Homing Complete","Move Complete","X Position","Y Position","Z Position","X Torque","Y Torque","Z Torque","","","X Axis Ready"]},{"id":"77e4e459.307d6c","type":"inject","z":"ef364d63.72de9","name":"Set Pset1","topic":"","payload":"002300180010        001","payloadType":"str","repeat":"","crontab":"","once":false,"x":480,"y":280,"wires":[["7290a277.93822c"]]},{"id":"ce8f7773.c56448","type":"inject","z":"ef364d63.72de9","name":"Set Pset2","topic":"","payload":"002300180010        002","payloadType":"str","repeat":"","crontab":"","once":false,"x":471.7777786254883,"y":483.3333797454834,"wires":[["d7bf7310.cb8d8"]]},{"id":"3dbc68e3.bd2b58","type":"inject","z":"ef364d63.72de9","name":"Set Pset3","topic":"","payload":"002300180010        003","payloadType":"str","repeat":"","crontab":"","once":false,"x":587.7777862548828,"y":622.2222156524658,"wires":[["53e7eb32.823ca4"]]},{"id":"a87baade.e71168","type":"inject","z":"ef364d63.72de9","name":"Start","topic":"","payload":"00230224001000000000001","payloadType":"str","repeat":"","crontab":"","once":false,"x":679.0000267028809,"y":747.000018119812,"wires":[["d24831a4.e3ad5","32a8899b.846706"]]},{"id":"b61ec61c.c8e4f8","type":"inject","z":"ef364d63.72de9","name":"Stop/Reset","topic":"","payload":"00230224001000000000006","payloadType":"str","repeat":"","crontab":"","once":false,"x":880,"y":350,"wires":[["ae56b9b8.ee4518"]]},{"id":"e68b77a6.5cf4c8","type":"inject","z":"ef364d63.72de9","name":"Subscribe to result","topic":"","payload":"006000080010000000001201001311000000000000000000000000000000","payloadType":"str","repeat":"","crontab":"","once":false,"x":650,"y":700,"wires":[["32a8899b.846706"]]},{"id":"5285b895.a83b48","type":"comment","z":"ef364d63.72de9","name":"To MicroTorque 6000","info":"","x":1120,"y":180,"wires":[]},{"id":"ae56b9b8.ee4518","type":"function","z":"ef364d63.72de9","name":"+null","func":"//Add a null char to the end of the command\nvar incomingMsg=msg.payload;\nmsg.payload=incomingMsg+'\\0' ;\nreturn msg;","outputs":1,"noerr":0,"x":1050.0000076293945,"y":490.00000381469727,"wires":[["a17a86.3aa39578"]]},{"id":"39697026.f7718","type":"inject","z":"ef364d63.72de9","name":"Keep Alive","topic":"","payload":"002099990010        ","payloadType":"str","repeat":"10","crontab":"","once":false,"x":870.0000076293945,"y":390.00000381469727,"wires":[["ae56b9b8.ee4518"]]},{"id":"548283f5.e76bec","type":"modbus-read","z":"6ae93295.8ec08c","name":"","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Input","adr":"000000","quantity":"8","rate":"50","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"267348b9.dbcfb8","x":410,"y":200,"wires":[[],["2d933143.17669e","a03849be.253728"]]},{"id":"2d933143.17669e","type":"function","z":"6ae93295.8ec08c","name":"Set Inputs to Global Variables","func":"//var incomingMSG = msg.payload;\n//var functionCMD = incomingMSG.functionCMD;\n\n\n    global.set(\"screwPresent\", msg.payload.data[0]);\n    global.set(\"screwProxLaser\", msg.payload.data[1]);\n    global.set(\"fixtureProx\", msg.payload.data[2]);\n    global.set(\"resetButton\", msg.payload.data[4]);\n    global.set(\"startButton\", msg.payload.data[5]);\n\n\n\n","outputs":"0","noerr":0,"x":730,"y":200,"wires":[]},{"id":"5e31c350.6cf96c","type":"link in","z":"e5e24c23.7a463","name":"Home Drives","links":["d532d171.f00be","f4b354ab.91dc58"],"x":175,"y":460,"wires":[["747c1ded.c89f94"]]},{"id":"f0b55af9.081768","type":"comment","z":"3260938e.c8e16c","name":"Step 101","info":"","x":1320,"y":140,"wires":[]},{"id":"d532d171.f00be","type":"link out","z":"3260938e.c8e16c","name":"","links":["5e31c350.6cf96c"],"x":935,"y":160,"wires":[]},{"id":"6e02301a.0efbc","type":"function","z":"e5e24c23.7a463","name":"Set initial Variables","func":"var incomingMSG = msg.payload;\nvar functionCMD = incomingMSG.functionCMD;\n\n    global.set(\"currentCommand\", 0);\n    global.set(\"finalResultsPassFail\", \"pass\");\n    global.set(\"lastError\", \"System Faulted. Remove Part and Restart Assembly\");\n    \n    global.set(\"previousCommand\", 0);\n    global.set(\"previous2Command\", 0);\n    global.set(\"homingDone\", 0);\n    global.set(\"moving\", 0);\n    global.set(\"stepID\", 0);\n    global.set(\"programComment\", \"Press Start to Home and Start Machine\");\n    global.set(\"moveID\", 0);\n    global.set(\"unitSN\", \"\");\n    global.set(\"moveIn\", \"\");\n    global.set(\"finalResults\", \"\");\n    global.set(\"finalResultsPassFail\", \"pass\");\n    global.set(\"lastCommand\", \"\");\n    \n   // global.set(\"resetButton\", msg.payload.data[4]);\n  //  global.set(\"startButton\", msg.payload.data[5]);\n// global.set(\"screwPresent\", msg.payload.data[0]);\n// global.set(\"screwPresent\", msg.payload.data[0]);\n\n\n","outputs":"0","noerr":0,"x":1710,"y":80,"wires":[]},{"id":"70f17f85.31cc4","type":"inject","z":"e5e24c23.7a463","name":"Trigger on Starup only","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":1300,"y":80,"wires":[["a4141c18.6beca","6e02301a.0efbc"]]},{"id":"d26285f5.b69b18","type":"switch","z":"3260938e.c8e16c","name":"Are Servos Homed?","property":"homingDone","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":780,"y":180,"wires":[["d532d171.f00be"],["1473532b.cdae8d"]],"outputLabels":["No","Yes"]},{"id":"3c8c6a9a.4eb6e6","type":"change","z":"3260938e.c8e16c","name":"Increment to Step 20100","rules":[{"t":"set","p":"stepID","pt":"global","to":"20100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":220,"wires":[["54bc13b6.61dabc"]]},{"id":"c5f50d63.0dbfc","type":"switch","z":"3260938e.c8e16c","name":"Wait for Start Button","property":"startButton","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":320,"y":160,"wires":[["f067d45.cdad428","ea6e22d.bf4e7e"]]},{"id":"23fb9591.1754da","type":"link in","z":"e5e24c23.7a463","name":"Input to Drives","links":["85b6cc3a.4e543","e1643087.a8835","a9764c26.11121","8c280e86.9d45f","b880142e.7ac5d8","729e44e4.943a5c","bbbb094.643d8f8","dc4b4d9f.76f9b","b8529727.a46ee8","6fd8f8ed.551968","5f991342.e3e4bc","4a2d4759.fc3058","3a84b6c9.12f27a","6f31f0f5.bb685","10fe55b6.74a61a","258274c3.608dbc","d67cc3df.2d4b5","4bbbdd0a.5709a4","cdb387a4.ef4878","ad372234.a490f","7e75e5a3.f42c7c","11366ed.0fefb91","4c1071db.55316","a2b0f86f.a44e78","37ff6977.d5d676","ee56795b.c20498","20729f9f.6e621","5d01848a.06b1ec","218d4f61.d9da9","ccecf133.85828","267997df.3ef578","8eb3c3d7.c0aac","33059df0.a382f2","d3d6d55d.af89e8","3e459a1c.93df56","7b99cb5.abf2a34","16ac743c.f4c2ac","52953b74.6d2e44","c1cff606.299858","a520670b.580f38","52b0fe.ffa8ef04","3c9f912a.30052e","44c4d2db.50d1ac","64cfb8e6.3e37d8","3b4a8ead.522db2","84ed41ea.47e13","a08fe377.a622c","80e505c3.d20b98","7f33410d.c42be","60dc6fdd.28fe7","5d26b859.d87a48","897a40cd.e6455","57e5e917.1765d8","31b30fdf.f2e97","deeae3ce.2ff44","4fc36696.7fe308","e655f837.46cb38","3051899e.b680a6"],"x":655,"y":320,"wires":[["f4c1d45.6815928","78e8a094.3f9ab"]]},{"id":"c5bd9848.6a48c8","type":"change","z":"3a85359a.e6824a","name":"Move to Pre-Pick","rules":[{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 204 19 -35 500 1 0 1010","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":220,"wires":[[]]},{"id":"d779fe73.c4cc3","type":"change","z":"3a85359a.e6824a","name":"Move to Pick","rules":[{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 204 19 -60 700 1 0 1020","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":240,"wires":[[]]},{"id":"2881ef9e.1c618","type":"function","z":"e5e24c23.7a463","name":"Set Accel","func":"msg.payload='991135000 991135005 '+msg.payload+' 0 0 0 0 0 0';\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":580,"wires":[["78e8a094.3f9ab"]]},{"id":"ce3deca0.365e9","type":"inject","z":"ef364d63.72de9","name":"Connect","topic":"","payload":"00200001006000000000","payloadType":"str","repeat":"","crontab":"","once":true,"x":880.0000076293945,"y":430.00000381469727,"wires":[["ae56b9b8.ee4518"]]},{"id":"a17a86.3aa39578","type":"tcp request","z":"ef364d63.72de9","server":"192.168.1.2","port":"4545","out":"sit","splitc":" ","name":"MT6000","x":1180.0000076293945,"y":490.00000381469727,"wires":[["ae5b25d6.bec778"]]},{"id":"ae5b25d6.bec778","type":"function","z":"ef364d63.72de9","name":"Parse Result String","func":"var incomingVal = msg.payload.toString();//convert buffer to string\nvar rawString=incomingVal;\nvar stringLength = incomingVal.length;\n\nif (stringLength>900){\nvar str = incomingVal;\nvar resultType =str.substr(106, 1);\nvar timestamp =str.substr(124, 19);\nvar errorValue =str.substr(199, 1);\nvar finalTorque =str.substr(887, 11);\nvar finalAngle =str.substr(916, 11);\n\n\n\n\nvar msg1 = { payload: resultType };\nvar msg2 = { payload: timestamp };\nvar msg3 = { payload: errorValue };\nvar msg4 = { payload: finalTorque };\nvar msg5 = { payload: finalAngle };\nvar msg6 = { payload: rawString };\n\n\nglobal.set(\"resultType\", resultType);//rundown error code\nglobal.set(\"timestamp\", msg2);\nglobal.set(\"finalTorque\", finalTorque);\nglobal.set(\"finalAngle\", finalAngle);\n\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];\n}","outputs":"6","noerr":0,"x":1350.0000076293945,"y":490.00000381469727,"wires":[["f41ba27c.e318c"],["e508cfa2.1a9e8"],["795bb065.cf019"],["fdcecbfa.e9d1b8"],["1f5be72d.2ec0d9"],["f50372f8.c0cde"]]},{"id":"f41ba27c.e318c","type":"change","z":"ef364d63.72de9","name":"Result Code","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"OK","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"2","fromt":"str","to":"Cancel","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"3","fromt":"str","to":"Error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":420,"wires":[["661a21b.a2c40e"]]},{"id":"661a21b.a2c40e","type":"debug","z":"ef364d63.72de9","name":"","active":false,"console":"false","complete":"false","x":1710.0000076293945,"y":410.00000381469727,"wires":[]},{"id":"e508cfa2.1a9e8","type":"debug","z":"ef364d63.72de9","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1720.0000076293945,"y":450.00000381469727,"wires":[]},{"id":"795bb065.cf019","type":"change","z":"ef364d63.72de9","name":"Error Code","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"No Error","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"2","fromt":"str","to":"Total Time","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"3","fromt":"str","to":"Step Time","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"4","fromt":"str","to":"Torque","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"5","fromt":"str","to":"Step Angle","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"6","fromt":"str","to":"Total Angle","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"7","fromt":"str","to":"Clamp Torque","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"8","fromt":"str","to":"Clamp Angle","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"9","fromt":"str","to":"Tightening Angle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550.0000076293945,"y":490.00000381469727,"wires":[["63c3c71a.6ab718"]]},{"id":"63c3c71a.6ab718","type":"debug","z":"ef364d63.72de9","name":"","active":false,"console":"false","complete":"false","x":1710.0000076293945,"y":490.00000381469727,"wires":[]},{"id":"271d95ae.93ccda","type":"trigger","z":"6ae93295.8ec08c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"500","extend":false,"units":"ms","reset":"","name":"On Delay","x":420,"y":780,"wires":[["d8ea10f3.9a3cb"]]},{"id":"d8ea10f3.9a3cb","type":"switch","z":"6ae93295.8ec08c","name":"Servos OK?","property":"servosOK","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":570,"y":780,"wires":[["5217d987.2ceda8","6e3583d3.b420dc"],["6513d921.1f4298"]],"outputLabels":["No","Yes"]},{"id":"6513d921.1f4298","type":"change","z":"6ae93295.8ec08c","name":"Turn Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":767.7778015136719,"y":817.7777805328369,"wires":[["5217d987.2ceda8","6e3583d3.b420dc"]]},{"id":"5217d987.2ceda8","type":"modbus-write","z":"6ae93295.8ec08c","name":"Reset Button Lamp","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"000004","quantity":"1","server":"267348b9.dbcfb8","x":1009.9999771118164,"y":772.222240447998,"wires":[[],[]]},{"id":"2d03e88a.bc9f08","type":"inject","z":"6ae93295.8ec08c","name":"Off Delay","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":270,"y":780,"wires":[["271d95ae.93ccda"]]},{"id":"7b30a4d1.9bb66c","type":"comment","z":"6ae93295.8ec08c","name":"Reset Button Lamp","info":"","x":600,"y":740,"wires":[]},{"id":"c2d658f1.a0b828","type":"trigger","z":"6ae93295.8ec08c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"500","extend":false,"units":"ms","reset":"","name":"On Delay","x":420,"y":920,"wires":[["478f628c.addb5c"]]},{"id":"478f628c.addb5c","type":"switch","z":"6ae93295.8ec08c","name":"Servos OK?","property":"servosOK","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":570,"y":920,"wires":[["5771bc5c.8ed564"],["2b887baa.d6ec34"]],"outputLabels":["No","Yes"]},{"id":"a062e4af.a10f68","type":"change","z":"6ae93295.8ec08c","name":"Turn Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1028.3334350585938,"y":968.555850982666,"wires":[["475b009e.263f8"]]},{"id":"eb47f75f.95fd08","type":"modbus-write","z":"6ae93295.8ec08c","name":"Start Button Lamp","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"000005","quantity":"1","server":"267348b9.dbcfb8","x":1525.1113777160645,"y":892.2222919464111,"wires":[[],[]]},{"id":"1ef1beaf.ab6ee1","type":"inject","z":"6ae93295.8ec08c","name":"Off Delay","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":270,"y":920,"wires":[["c2d658f1.a0b828"]]},{"id":"73d5e781.1440f8","type":"comment","z":"6ae93295.8ec08c","name":"Start Button Lamp","info":"","x":600,"y":880,"wires":[]},{"id":"2b887baa.d6ec34","type":"switch","z":"6ae93295.8ec08c","name":"Are Servos Homed?","property":"homingDone","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":845.0000076293945,"y":911.000018119812,"wires":[["27bb2d88.4e54f2"],["27bb2d88.4e54f2"]],"outputLabels":["No","Yes"]},{"id":"ddccfe97.f0d22","type":"inject","z":"e5e24c23.7a463","name":"","topic":"","payload":"991135000 991135004 0 0 0 0 0 0 0","payloadType":"str","repeat":".25","crontab":"","once":false,"x":230,"y":500,"wires":[["b190cfc4.f7dc9"]]},{"id":"b190cfc4.f7dc9","type":"switch","z":"e5e24c23.7a463","name":"Reset Button","property":"resetButton","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":500,"wires":[[]]},{"id":"87f36e85.eae1d","type":"change","z":"e5e24c23.7a463","name":"Home CMD","rules":[{"t":"set","p":"payload","pt":"msg","to":"991135000 991135001 0 0 0 0 0 0 0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":380,"wires":[["f4c1d45.6815928","78e8a094.3f9ab"]]},{"id":"c04bb289.a78da","type":"comment","z":"3260938e.c8e16c","name":"Homing Check","info":"","x":1293.9999504089355,"y":96.9999508857727,"wires":[]},{"id":"6e3583d3.b420dc","type":"modbus-write","z":"6ae93295.8ec08c","name":"Red Dome Lamp","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"000002","quantity":"1","server":"267348b9.dbcfb8","x":1008.899658203125,"y":733.337646484375,"wires":[[],[]]},{"id":"efc42921.96d018","type":"modbus-write","z":"6ae93295.8ec08c","name":"Orange Dome Lamp","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"000001","quantity":"1","server":"267348b9.dbcfb8","x":1020,"y":641,"wires":[[],[]]},{"id":"7991f5ea.934e3c","type":"modbus-write","z":"6ae93295.8ec08c","name":"Buzzer Dome Lamp","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"000003","quantity":"1","server":"267348b9.dbcfb8","x":1020.0107879638672,"y":687.7820777893066,"wires":[[],[]]},{"id":"e793e03a.591cc","type":"delay","z":"6ae93295.8ec08c","name":"wait for startup","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":663.2053298950195,"y":664.6809988021851,"wires":[["efc42921.96d018","7991f5ea.934e3c","6e3583d3.b420dc","5217d987.2ceda8"]]},{"id":"535faed.c66d95","type":"change","z":"6ae93295.8ec08c","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":516.5408990648058,"y":664.47708023919,"wires":[["e793e03a.591cc"]]},{"id":"450ae6bc.2a2768","type":"link in","z":"6ae93295.8ec08c","name":"","links":["a4141c18.6beca"],"x":424.31207444932727,"y":664.9197348488701,"wires":[["535faed.c66d95"]]},{"id":"a4141c18.6beca","type":"link out","z":"e5e24c23.7a463","name":"","links":["450ae6bc.2a2768"],"x":1435,"y":60,"wires":[]},{"id":"51c53bbc.0051f4","type":"comment","z":"6ae93295.8ec08c","name":"Initialize Outputs","info":"","x":552.2330873277452,"y":623.3376692665947,"wires":[]},{"id":"2df073c9.2adcec","type":"comment","z":"6ae93295.8ec08c","name":"Read All Inputs","info":"","x":552.2330093383789,"y":165.55988693237305,"wires":[]},{"id":"f4773f49.2b121","type":"link in","z":"ef364d63.72de9","name":"Pset1 Select","links":["1370ccee.9807d3","5584e76b.2fd0d8","ef6c732a.48e7","ef80c3a6.77d7b","d6557d85.200e9","8efdb9a7.beed48","8deac493.66a848","6d09b386.bcb99c","c6d1f535.c47768","10cf2442.f1c8fc","d7703d8d.7727","cbdea838.365e08","f54bec60.fb25","8eb0ae57.9bdca","999c3fda.6563e","8b775f19.6763a"],"x":527.647590637207,"y":256.8042721748352,"wires":[["7290a277.93822c"]]},{"id":"7290a277.93822c","type":"change","z":"ef364d63.72de9","name":"Pset1","rules":[{"t":"set","p":"payload","pt":"msg","to":"002300180010        001","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":615.4296951293945,"y":293.1627788543701,"wires":[["53e7eb32.823ca4"]]},{"id":"a30b687a.cf1e38","type":"modbus-write","z":"6ae93295.8ec08c","name":"Green Dome Lamp","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"000000","quantity":"1","server":"267348b9.dbcfb8","x":960.2330322265625,"y":1097.0042724609375,"wires":[["4da8deb2.bd781"],["4da8deb2.bd781"]]},{"id":"98980892.a601d8","type":"inject","z":"6ae93295.8ec08c","name":"Off Delay","topic":"","payload":"true","payloadType":"bool","repeat":".1","crontab":"","once":false,"x":252.23306274414062,"y":1105.559814453125,"wires":[["a43d1520.9f0568"]]},{"id":"a43d1520.9f0568","type":"switch","z":"6ae93295.8ec08c","name":"Step ID>0","property":"stepID","propertyType":"global","rules":[{"t":"gt","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":413.34422302246094,"y":1106.6710796356201,"wires":[["355e1ae6.37dc16"],["eea9462f.2d6048"]],"outputLabels":["No",""]},{"id":"355e1ae6.37dc16","type":"switch","z":"6ae93295.8ec08c","name":"Servos OK?","property":"servosOK","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":617.7886047363281,"y":1098.8931865692139,"wires":[["a30b687a.cf1e38"],["eea9462f.2d6048"]],"outputLabels":["No",""]},{"id":"eea9462f.2d6048","type":"change","z":"6ae93295.8ec08c","name":"Turn Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":773.3441696166992,"y":1143.3375492095947,"wires":[["a30b687a.cf1e38"]]},{"id":"5771bc5c.8ed564","type":"change","z":"6ae93295.8ec08c","name":"Turn Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":716.0098037719727,"y":968.0039253234863,"wires":[["a062e4af.a10f68"]]},{"id":"27bb2d88.4e54f2","type":"switch","z":"6ae93295.8ec08c","name":"Step ID>0","property":"stepID","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1057.009765625,"y":901.00390625,"wires":[["eb47f75f.95fd08"],["475b009e.263f8"]],"outputLabels":["No",""]},{"id":"475b009e.263f8","type":"change","z":"6ae93295.8ec08c","name":"Turn Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1327.009765625,"y":966.0039710998535,"wires":[["eb47f75f.95fd08"]]},{"id":"d24831a4.e3ad5","type":"change","z":"ef364d63.72de9","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"00230224001000000000001","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":914.0097808837891,"y":746.003924369812,"wires":[["ae56b9b8.ee4518"]]},{"id":"9301a2ee.7ada1","type":"link in","z":"ef364d63.72de9","name":"Start MT6000","links":["5b86b773.32b9c8","103721ce.052b9e","591d96c4.c99808","4d8505a.fae17fc","5bad68e6.33ceb8","4b7c22c0.baba1c","35244b10.9920f4","c322283f.b50ff8","717196ee.80a218","727d6085.967d5","6444db40.8339a4","f66cc505.e5b718","7c76b962.547b68","fd62f29b.8e594","c5be2f9c.bc48c","82df4e0a.447c2","bc79fb95.22f618","c807892f.f24328","ba63b254.7235e","6e440d36.2ab464","9950ef57.acd21","cad6467e.b648e8","6893a74a.d408f8","a9bad11a.dd8ea","27fb9cf8.ca5674","aad7353a.922cc8","f580fa43.e64148","71ef244e.57e02c","bff65ede.7a1e8"],"x":767.8847732543945,"y":815.9218788146973,"wires":[["d24831a4.e3ad5","32a8899b.846706"]]},{"id":"dfb0cf2e.73008","type":"change","z":"3a85359a.e6824a","name":"Set screen Comment and Reset tool Timestamp","rules":[{"t":"set","p":"timestamp","pt":"global","to":"0","tot":"str"},{"t":"set","p":"programComment","pt":"global","to":"Picking Screw","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":180,"wires":[[]]},{"id":"8998271a.5f8778","type":"delay","z":"cbece41c.1a9cf8","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":300,"wires":[["eaf5aea9.154d5"]]},{"id":"eaf5aea9.154d5","type":"change","z":"cbece41c.1a9cf8","name":"Inc Down to engage","rules":[{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 -0 0 -51 1000 0 0 1110","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":300,"wires":[["b326ffe9.9689a"]]},{"id":"26ae19e9.44e876","type":"link in","z":"ef364d63.72de9","name":"Pset2 Select","links":["1ac4373b.5878a9","e57b71d3.15cd4","ac7eb2a6.bcc0b","901dde65.963d6","f1fdaf3c.6946d","3761ea99.e4e976","131b1026.1f56a","e8a0831.72c7f8","15575f1b.9f3fe1","2e69fda.7da4a02","19b1178.2e9f7e9","ce51c506.82a038"],"x":537.0097732543945,"y":532.0039100646973,"wires":[["d7bf7310.cb8d8"]]},{"id":"d7bf7310.cb8d8","type":"change","z":"ef364d63.72de9","name":"Pset2","rules":[{"t":"set","p":"payload","pt":"msg","to":"002300180010        002","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":625.7918701171875,"y":478.3624563217163,"wires":[["53e7eb32.823ca4"]]},{"id":"32a8899b.846706","type":"change","z":"ef364d63.72de9","name":"Subscribe","rules":[{"t":"set","p":"payload","pt":"msg","to":"006000080010000000001201001311000000000000000000000000000000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":700,"wires":[["ae56b9b8.ee4518"]]},{"id":"f50372f8.c0cde","type":"debug","z":"ef364d63.72de9","name":"","active":false,"console":"false","complete":"false","x":1564,"y":657,"wires":[]},{"id":"68363ab6.3e0084","type":"change","z":"3260938e.c8e16c","name":"Move to Point 10200 & Set SID to 20400","rules":[{"t":"set","p":"stepID","pt":"global","to":"20400","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 162 186 -36 1000 1 0 10200","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":700,"wires":[["ee56795b.c20498"]]},{"id":"65b931e5.038ef","type":"switch","z":"3260938e.c8e16c","name":"Wait for StepID 20300","property":"stepID","propertyType":"global","rules":[{"t":"eq","v":"20300","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":680,"y":780,"wires":[["bb05f9e2.029e78"],["46cd5b93.d000d4"]]},{"id":"28717cdb.db5854","type":"change","z":"3260938e.c8e16c","name":"Increment to Step 20500","rules":[{"t":"set","p":"stepID","pt":"global","to":"20500","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":900,"wires":[[]]},{"id":"bb05f9e2.029e78","type":"subflow:3a85359a.e6824a","z":"3260938e.c8e16c","name":"Pick Screw","x":970,"y":780,"wires":[["68363ab6.3e0084"],["ad372234.a490f"],["8efdb9a7.beed48"],["727d6085.967d5"]],"outputLabels":["To Program","To Servos","",""]},{"id":"8efdb9a7.beed48","type":"link out","z":"3260938e.c8e16c","name":"To Pset1 select","links":["f4773f49.2b121"],"x":1175,"y":800,"wires":[]},{"id":"ad372234.a490f","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1175,"y":760,"wires":[]},{"id":"727d6085.967d5","type":"link out","z":"3260938e.c8e16c","name":"To MT Start","links":["9301a2ee.7ada1","38a1c20b.9725ee"],"x":1175,"y":840,"wires":[]},{"id":"e27d4918.8198b8","type":"subflow:cbece41c.1a9cf8","z":"3260938e.c8e16c","name":"","x":990,"y":920,"wires":[["28717cdb.db5854"],["7e75e5a3.f42c7c"],["901dde65.963d6"],["6444db40.8339a4"]],"inputLabels":["In From Program"],"outputLabels":["Out to Program","Out to Servos","Out to P-Set","Out to MT Start"]},{"id":"6444db40.8339a4","type":"link out","z":"3260938e.c8e16c","name":"To MT Start","links":["9301a2ee.7ada1","38a1c20b.9725ee"],"x":1175,"y":1020,"wires":[]},{"id":"901dde65.963d6","type":"link out","z":"3260938e.c8e16c","name":"To Pset2 select","links":["26ae19e9.44e876"],"x":1175,"y":980,"wires":[]},{"id":"7e75e5a3.f42c7c","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1175,"y":940,"wires":[]},{"id":"c17b7e5.13ca18","type":"switch","z":"3a85359a.e6824a","name":"Move Complete?","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"1010","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":570,"y":320,"wires":[["2e877c34.f42814"],["24970c62.18e844"]]},{"id":"1177b78a.82f298","type":"switch","z":"3a85359a.e6824a","name":"Move Complete?","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"1020","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":570,"y":440,"wires":[["aefae532.173808"],["3460a7b1.bcc8a8"]]},{"id":"91d529df.a2cc28","type":"change","z":"3a85359a.e6824a","name":"Move to Pre-Pick","rules":[{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 204 20 -36 1000 1 0 1030","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":440,"wires":[[]]},{"id":"b532656b.4dd268","type":"switch","z":"3a85359a.e6824a","name":"Move Complete?","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"1030","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":570,"y":560,"wires":[["9a0ea4d5.793208"],["8e70553e.473418"]]},{"id":"35cdc57b.3530ca","type":"debug","z":"6ae93295.8ec08c","name":"","active":false,"console":"false","complete":"payload.data","x":770,"y":260,"wires":[]},{"id":"aefae532.173808","type":"switch","z":"3a85359a.e6824a","name":"MT Done?","property":"timestamp","propertyType":"global","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":850,"y":440,"wires":[["b72c9b03.159328"],["b16f8317.14b8a"]]},{"id":"b16f8317.14b8a","type":"delay","z":"3a85359a.e6824a","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":850,"y":480,"wires":[["aefae532.173808"]]},{"id":"b72c9b03.159328","type":"delay","z":"3a85359a.e6824a","name":"Pickup Dwell","pauseType":"delay","timeout":".2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":440,"wires":[["91d529df.a2cc28"]]},{"id":"b326ffe9.9689a","type":"switch","z":"cbece41c.1a9cf8","name":"Wait for at Place Position","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"1110","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":830,"y":360,"wires":[["52ab797e.4ea568"],["a809c911.bd0158"]]},{"id":"a809c911.bd0158","type":"delay","z":"cbece41c.1a9cf8","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":400,"wires":[["b326ffe9.9689a"]]},{"id":"b9dbec1e.95087","type":"delay","z":"cbece41c.1a9cf8","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":680,"wires":[["3cdd4d86.235622"]]},{"id":"3cdd4d86.235622","type":"switch","z":"cbece41c.1a9cf8","name":"Rundown Complete?","property":"timestamp","propertyType":"global","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1280,"y":580,"wires":[["43169522.1c945c"],["b9dbec1e.95087"]]},{"id":"f149b9d6.40f5c8","type":"change","z":"cbece41c.1a9cf8","name":"Inc Up","rules":[{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 -0 0 70 1000 0 0 1130","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":460,"wires":[["84750143.d1ad2"]]},{"id":"84750143.d1ad2","type":"switch","z":"cbece41c.1a9cf8","name":"Wait for at Place Position","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"1130","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1650,"y":500,"wires":[["b4a873f6.fa9ec"],["64985064.ec228"]]},{"id":"64985064.ec228","type":"delay","z":"cbece41c.1a9cf8","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1640,"y":560,"wires":[["84750143.d1ad2"]]},{"id":"d656ba99.9ac308","type":"change","z":"3260938e.c8e16c","name":"Move to Point 10300 & Set SID to 20600","rules":[{"t":"set","p":"stepID","pt":"global","to":"20600","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 80 300 -36 1000 1 0 10300","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1080,"wires":[["20729f9f.6e621"]]},{"id":"18efcef.c6e2a31","type":"subflow:3a85359a.e6824a","z":"3260938e.c8e16c","name":"Pick Screw","x":990,"y":1100,"wires":[["d656ba99.9ac308"],["a2b0f86f.a44e78"],["6d09b386.bcb99c"],["7c76b962.547b68"]],"outputLabels":["To Program","To Servos","",""]},{"id":"6d09b386.bcb99c","type":"link out","z":"3260938e.c8e16c","name":"To Pset1 select","links":["f4773f49.2b121"],"x":1175,"y":1160,"wires":[]},{"id":"a2b0f86f.a44e78","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1175,"y":1120,"wires":[]},{"id":"7c76b962.547b68","type":"link out","z":"3260938e.c8e16c","name":"To MT Start","links":["9301a2ee.7ada1","38a1c20b.9725ee"],"x":1175,"y":1200,"wires":[]},{"id":"fe11654c.6112c8","type":"delay","z":"3a85359a.e6824a","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":160,"y":320,"wires":[["c5bd9848.6a48c8","dfb0cf2e.73008","c17b7e5.13ca18","1177b78a.82f298","b532656b.4dd268"]]},{"id":"24970c62.18e844","type":"delay","z":"3a85359a.e6824a","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":360,"wires":[["c17b7e5.13ca18"]]},{"id":"3460a7b1.bcc8a8","type":"delay","z":"3a85359a.e6824a","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":480,"wires":[["1177b78a.82f298"]]},{"id":"8e70553e.473418","type":"delay","z":"3a85359a.e6824a","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":600,"wires":[["b532656b.4dd268"]]},{"id":"46cd5b93.d000d4","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":860,"wires":[["65b931e5.038ef"]]},{"id":"e7a0cfc8.d3def","type":"switch","z":"3260938e.c8e16c","name":"Wait for Move 10200 complete","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"10200","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":710,"y":920,"wires":[["e27d4918.8198b8"],["2591958c.a992ea"]]},{"id":"2591958c.a992ea","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":960,"wires":[["e7a0cfc8.d3def"]]},{"id":"e580f8a1.30fd38","type":"switch","z":"3260938e.c8e16c","name":"Wait for StepID 20500","property":"stepID","propertyType":"global","rules":[{"t":"eq","v":"20500","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":700,"y":860,"wires":[["18efcef.c6e2a31"],["5a005fe2.fa97"]]},{"id":"5a005fe2.fa97","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":1100,"wires":[["e580f8a1.30fd38"]]},{"id":"4f92cd8f.8c9dc4","type":"delay","z":"3a85359a.e6824a","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":240,"wires":[["d779fe73.c4cc3"]]},{"id":"78884935.284318","type":"change","z":"3260938e.c8e16c","name":"Increment to Step 20700","rules":[{"t":"set","p":"stepID","pt":"global","to":"20700","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":1280,"wires":[[]]},{"id":"fd62f29b.8e594","type":"link out","z":"3260938e.c8e16c","name":"To MT Start","links":["9301a2ee.7ada1","38a1c20b.9725ee"],"x":1195,"y":1400,"wires":[]},{"id":"f1fdaf3c.6946d","type":"link out","z":"3260938e.c8e16c","name":"To Pset2 select","links":["26ae19e9.44e876"],"x":1195,"y":1360,"wires":[]},{"id":"37ff6977.d5d676","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1195,"y":1320,"wires":[]},{"id":"1b54175.837ebe9","type":"subflow:cbece41c.1a9cf8","z":"3260938e.c8e16c","name":"","x":990,"y":1300,"wires":[["78884935.284318"],["37ff6977.d5d676"],["f1fdaf3c.6946d"],["fd62f29b.8e594"]],"inputLabels":["In From Program"],"outputLabels":["Out to Program","Out to Servos","Out to P-Set","Out to MT Start"]},{"id":"43e18f10.124fc","type":"switch","z":"3260938e.c8e16c","name":"Wait for Move 10300 complete","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"10300","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":730,"y":1280,"wires":[["1b54175.837ebe9"],["4d6a87d7.0d9b88"]]},{"id":"4d6a87d7.0d9b88","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":1340,"wires":[["43e18f10.124fc"]]},{"id":"b611c216.546e4","type":"inject","z":"3260938e.c8e16c","name":"Trigger","topic":"","payload":"true","payloadType":"bool","repeat":".1","crontab":"","once":false,"x":140,"y":200,"wires":[["c5f50d63.0dbfc"]]},{"id":"43169522.1c945c","type":"delay","z":"cbece41c.1a9cf8","name":"Fastening Dwell","pauseType":"delay","timeout":".2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":420,"wires":[["f149b9d6.40f5c8"]]},{"id":"ee56795b.c20498","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1615,"y":700,"wires":[]},{"id":"20729f9f.6e621","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1515,"y":1080,"wires":[]},{"id":"6c807030.78779","type":"trigger","z":"3260938e.c8e16c","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","name":"","x":300,"y":1780,"wires":[["65b931e5.038ef","e7a0cfc8.d3def","e580f8a1.30fd38","43e18f10.124fc","63f883a.c9e6e7c","86866c.e25b0998","48d911a1.e7af4","8c54472f.5edc38","885c0926.539438","6cfa164d.d84078","d5e7d224.9e4f9"]]},{"id":"3241b478.83c35c","type":"link in","z":"3260938e.c8e16c","name":"","links":["f7bd7292.c3c12","54bc13b6.61dabc","8f8724cb.3a1e88","15e8cf9d.2c8c1","9d69b2fa.35d14","7da0d2af.6b1bfc","45e86b1c.65c594"],"x":95,"y":1780,"wires":[["6c807030.78779"]]},{"id":"52ab797e.4ea568","type":"change","z":"cbece41c.1a9cf8","name":"Inc Down","rules":[{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 -0 0 -12 50 0 0 1120","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":500,"wires":[["ad3f3dc5.e23c1"]]},{"id":"ad3f3dc5.e23c1","type":"switch","z":"cbece41c.1a9cf8","name":"Wait for at Place Position","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"1120","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":890,"y":540,"wires":[["3cdd4d86.235622"],["20378085.0d0ce"]]},{"id":"20378085.0d0ce","type":"delay","z":"cbece41c.1a9cf8","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":580,"wires":[["ad3f3dc5.e23c1"]]},{"id":"ebb64b4e.84e858","type":"function","z":"3154d002.9ac9f","name":"Hex to ASCII Converter","func":"\n {\n    var hex  = msg.payload;  \n    var str = '';  \n    for (var n = 0; n < hex.length; n += 2) {  \n        str += String.fromCharCode(parseInt(hex.substr(n, 2), 16));  \n    }\n\n}\n msg.payload=str;\n   //var newMsg = {payload:str};\n  //  var newMsg = {payload:str};\n    console.log(msg);\n   return msg;\n","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["fbdd4552.e1b0d8"]]},{"id":"fadea37f.33779","type":"inject","z":"3154d002.9ac9f","name":"Barcoad Scan","topic":"","payload":"025403","payloadType":"str","repeat":"","crontab":"","once":false,"x":112.22222137451172,"y":73.33334350585938,"wires":[["3de00c99.a5b3b4"]]},{"id":"fbdd4552.e1b0d8","type":"serial out","z":"3154d002.9ac9f","name":"Matrix Reader","serial":"9732b332.74bd1","x":800,"y":200,"wires":[]},{"id":"c612e84b.5a6968","type":"serial in","z":"3154d002.9ac9f","name":"Matrix Reader","serial":"9732b332.74bd1","x":972.2221755981445,"y":201.11109447479248,"wires":[["3455b362.32f0dc","b38f43a.5941dc"]]},{"id":"afee38ee.901858","type":"comment","z":"3154d002.9ac9f","name":"To Barcode Reader","info":"","x":709.8888854980469,"y":137.55555725097656,"wires":[]},{"id":"54bc13b6.61dabc","type":"link out","z":"3260938e.c8e16c","name":"","links":["3241b478.83c35c","e22aa1a7.4cf8d"],"x":1395,"y":220,"wires":[]},{"id":"e43756fa.f269b8","type":"change","z":"3260938e.c8e16c","name":"Move to Point 10400 & Set SID to 20800","rules":[{"t":"set","p":"stepID","pt":"global","to":"20800","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 202 300 -36 1000 1 0 10400","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1540,"wires":[["218d4f61.d9da9"]]},{"id":"8c419c7f.1751f","type":"subflow:3a85359a.e6824a","z":"3260938e.c8e16c","name":"Pick Screw","x":990,"y":1560,"wires":[["e43756fa.f269b8"],["5d01848a.06b1ec"],["c6d1f535.c47768"],["c5be2f9c.bc48c"]],"outputLabels":["To Program","To Servos","",""]},{"id":"c6d1f535.c47768","type":"link out","z":"3260938e.c8e16c","name":"To Pset1 select","links":["f4773f49.2b121"],"x":1175,"y":1620,"wires":[]},{"id":"5d01848a.06b1ec","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1175,"y":1580,"wires":[]},{"id":"c5be2f9c.bc48c","type":"link out","z":"3260938e.c8e16c","name":"To MT Start","links":["9301a2ee.7ada1","38a1c20b.9725ee"],"x":1175,"y":1660,"wires":[]},{"id":"63f883a.c9e6e7c","type":"switch","z":"3260938e.c8e16c","name":"Wait for StepID 20700","property":"stepID","propertyType":"global","rules":[{"t":"eq","v":"20700","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":680,"y":1520,"wires":[["8c419c7f.1751f"],["98253aad.bb2948"]]},{"id":"98253aad.bb2948","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":1560,"wires":[["63f883a.c9e6e7c"]]},{"id":"218d4f61.d9da9","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1515,"y":1540,"wires":[]},{"id":"fcdd7a26.c28228","type":"change","z":"3260938e.c8e16c","name":"Increment to Step 20900","rules":[{"t":"set","p":"stepID","pt":"global","to":"20900","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":1800,"wires":[[]]},{"id":"82df4e0a.447c2","type":"link out","z":"3260938e.c8e16c","name":"To MT Start","links":["9301a2ee.7ada1","38a1c20b.9725ee"],"x":1195,"y":1920,"wires":[]},{"id":"3761ea99.e4e976","type":"link out","z":"3260938e.c8e16c","name":"To Pset2 select","links":["26ae19e9.44e876"],"x":1195,"y":1880,"wires":[]},{"id":"ccecf133.85828","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1195,"y":1840,"wires":[]},{"id":"ff82483b.d24f18","type":"subflow:cbece41c.1a9cf8","z":"3260938e.c8e16c","name":"","x":990,"y":1820,"wires":[["fcdd7a26.c28228"],["ccecf133.85828"],["3761ea99.e4e976"],["82df4e0a.447c2"]],"inputLabels":["In From Program"],"outputLabels":["Out to Program","Out to Servos","Out to P-Set","Out to MT Start"]},{"id":"86866c.e25b0998","type":"switch","z":"3260938e.c8e16c","name":"Wait for Move 10400 complete","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"10400","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":730,"y":1800,"wires":[["ff82483b.d24f18"],["7df01900.e03408"]]},{"id":"7df01900.e03408","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":1860,"wires":[["86866c.e25b0998"]]},{"id":"54eceb6d.b26f84","type":"function","z":"e5e24c23.7a463","name":"Restart App","func":"msg.headers = {\n    \"Node-RED-Deployment-Type\":\"reload\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":160,"wires":[["9ec8733b.3e12a"]]},{"id":"9ec8733b.3e12a","type":"http request","z":"e5e24c23.7a463","name":"","method":"POST","ret":"txt","url":"http://192.168.1.101:1880/flows","tls":"","x":1870,"y":160,"wires":[[]]},{"id":"e931a5ac.516518","type":"comment","z":"e5e24c23.7a463","name":"Restart App","info":"","x":1690,"y":120,"wires":[]},{"id":"6a559cd6.9f0f34","type":"change","z":"3260938e.c8e16c","name":"Move to Point 10500 & Set SID to 21100","rules":[{"t":"set","p":"stepID","pt":"global","to":"21100","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 46 186 -36 1000 1 0 10500","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":2080,"wires":[["8eb3c3d7.c0aac"]]},{"id":"daaeb374.23578","type":"subflow:3a85359a.e6824a","z":"3260938e.c8e16c","name":"Pick Screw","x":1050,"y":2100,"wires":[["6a559cd6.9f0f34"],["267997df.3ef578"],["10cf2442.f1c8fc"],["bc79fb95.22f618"]],"outputLabels":["To Program","To Servos","",""]},{"id":"10cf2442.f1c8fc","type":"link out","z":"3260938e.c8e16c","name":"To Pset1 select","links":["f4773f49.2b121"],"x":1235,"y":2160,"wires":[]},{"id":"267997df.3ef578","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1235,"y":2120,"wires":[]},{"id":"bc79fb95.22f618","type":"link out","z":"3260938e.c8e16c","name":"To MT Start","links":["9301a2ee.7ada1","38a1c20b.9725ee"],"x":1235,"y":2200,"wires":[]},{"id":"48d911a1.e7af4","type":"switch","z":"3260938e.c8e16c","name":"Wait for StepID 20900","property":"stepID","propertyType":"global","rules":[{"t":"eq","v":"20900","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":740,"y":2060,"wires":[["daaeb374.23578"],["eca352b3.f39e6"]]},{"id":"eca352b3.f39e6","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":2100,"wires":[["48d911a1.e7af4"]]},{"id":"8eb3c3d7.c0aac","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1575,"y":2080,"wires":[]},{"id":"49484773.246758","type":"change","z":"3260938e.c8e16c","name":"Increment to Step 21200","rules":[{"t":"set","p":"stepID","pt":"global","to":"21200","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":2340,"wires":[[]]},{"id":"c807892f.f24328","type":"link out","z":"3260938e.c8e16c","name":"To MT Start","links":["9301a2ee.7ada1","38a1c20b.9725ee"],"x":1255,"y":2460,"wires":[]},{"id":"131b1026.1f56a","type":"link out","z":"3260938e.c8e16c","name":"To Pset2 select","links":["26ae19e9.44e876"],"x":1255,"y":2420,"wires":[]},{"id":"33059df0.a382f2","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1255,"y":2380,"wires":[]},{"id":"94fb66e6.b6b9d8","type":"subflow:cbece41c.1a9cf8","z":"3260938e.c8e16c","name":"","x":1050,"y":2360,"wires":[["b73624f2.9d7648","47d4af70.4e2f9"],["33059df0.a382f2"],["131b1026.1f56a"],["c807892f.f24328"]],"inputLabels":["In From Program"],"outputLabels":["Out to Program","Out to Servos","Out to P-Set","Out to MT Start"]},{"id":"8c54472f.5edc38","type":"switch","z":"3260938e.c8e16c","name":"Wait for Move 10500 complete","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"10500","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":790,"y":2340,"wires":[["94fb66e6.b6b9d8"],["18869bc4.b57ab4"]]},{"id":"18869bc4.b57ab4","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":2400,"wires":[["8c54472f.5edc38"]]},{"id":"47d4af70.4e2f9","type":"change","z":"3260938e.c8e16c","name":"Increment to Step 21400","rules":[{"t":"set","p":"stepID","pt":"global","to":"21400","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":2280,"wires":[[]]},{"id":"b73624f2.9d7648","type":"change","z":"3260938e.c8e16c","name":"Move to Point 10700 (end)","rules":[{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 100 50 0 1000 1 0 10700","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":2240,"wires":[["c1cff606.299858"]]},{"id":"c1cff606.299858","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1815,"y":2240,"wires":[]},{"id":"885c0926.539438","type":"switch","z":"3260938e.c8e16c","name":"Wait for StepID 20100","property":"stepID","propertyType":"global","rules":[{"t":"eq","v":"20100","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":680,"y":460,"wires":[["8aa01d80.dfb9d"],["57102268.b3009c"]]},{"id":"57102268.b3009c","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":520,"wires":[["885c0926.539438"]]},{"id":"8aa01d80.dfb9d","type":"change","z":"3260938e.c8e16c","name":"Move to Point 10100 & Set SID to 20200","rules":[{"t":"set","p":"stepID","pt":"global","to":"20200","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 197 263 -40 500 1 0 10100","tot":"str"},{"t":"set","p":"programComment","pt":"global","to":"Scanning Barcode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":460,"wires":[["a520670b.580f38"]]},{"id":"a520670b.580f38","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1392,"y":460,"wires":[]},{"id":"6cfa164d.d84078","type":"switch","z":"3260938e.c8e16c","name":"Wait for Move 10100 complete","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"10100","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":710,"y":580,"wires":[["c48df699.dda098","519c48b4.f95348"],["58a8b37.8eb1e4c"]]},{"id":"58a8b37.8eb1e4c","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":685.5555725097656,"y":641.1111087799072,"wires":[["6cfa164d.d84078"]]},{"id":"953ed20.72dc13","type":"link in","z":"3154d002.9ac9f","name":"","links":["c48df699.dda098","d8816f7f.063ca"],"x":102.85714285714285,"y":109.99999999999999,"wires":[["3de00c99.a5b3b4"]]},{"id":"c48df699.dda098","type":"link out","z":"3260938e.c8e16c","name":"","links":["953ed20.72dc13"],"x":1101.857177734375,"y":559.2857055664062,"wires":[]},{"id":"4eef3e09.933c4","type":"change","z":"3260938e.c8e16c","name":"Increment to Step 20300","rules":[{"t":"set","p":"stepID","pt":"global","to":"20300","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310.9999389648438,"y":588.2222385406494,"wires":[[]]},{"id":"6df51009.44d91","type":"switch","z":"3a85359a.e6824a","name":"Screw Present?","property":"screwPresent","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1360,"y":240,"wires":[["4f92cd8f.8c9dc4"],["beb677b9.b05c88"]]},{"id":"beb677b9.b05c88","type":"delay","z":"3a85359a.e6824a","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1370,"y":280,"wires":[["6df51009.44d91","d16d8fab.ae6db"]]},{"id":"f067d45.cdad428","type":"switch","z":"3260938e.c8e16c","name":"Block until aborted","property":"stepID","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":550,"y":180,"wires":[["d26285f5.b69b18"]],"outputLabels":["No"]},{"id":"3051899e.b680a6","type":"link out","z":"3260938e.c8e16c","name":"To Servos","links":["23fb9591.1754da"],"x":795,"y":280,"wires":[]},{"id":"e5309791.840188","type":"link in","z":"6ae93295.8ec08c","name":"To Buzzer","links":["1c4cc55b.b8f4eb","a93a21f7.e8bff"],"x":244,"y":700,"wires":[["7991f5ea.934e3c"]]},{"id":"291fc3ed.a6ed9c","type":"trigger","z":"3260938e.c8e16c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1.5","extend":false,"units":"s","reset":"","name":"","x":1510,"y":2600,"wires":[["1c4cc55b.b8f4eb"]]},{"id":"1c4cc55b.b8f4eb","type":"link out","z":"3260938e.c8e16c","name":"","links":["e5309791.840188"],"x":1655,"y":2600,"wires":[]},{"id":"d5e7d224.9e4f9","type":"switch","z":"3260938e.c8e16c","name":"Wait for Move 10700 complete","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"10700","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":770,"y":2580,"wires":[["56469e31.74a49"],["28a9f3a5.b1832c"]]},{"id":"28a9f3a5.b1832c","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":2640,"wires":[["d5e7d224.9e4f9"]]},{"id":"6dc402a6.a7fd4c","type":"change","z":"cbece41c.1a9cf8","name":"Set screen Comment and Reset tool Timestamp","rules":[{"t":"set","p":"timestamp","pt":"global","to":"0","tot":"str"},{"t":"set","p":"programComment","pt":"global","to":"Placing Screw","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":140,"wires":[[]]},{"id":"10aeaa61.eaed26","type":"change","z":"3260938e.c8e16c","name":"Init Vars","rules":[{"t":"set","p":"programComment","pt":"global","to":"Job Complete","tot":"str"},{"t":"set","p":"homingDone","pt":"global","to":"1","tot":"num"},{"t":"set","p":"moving","pt":"global","to":"0","tot":"num"},{"t":"set","p":"stepID","pt":"global","to":"0","tot":"str"},{"t":"set","p":"moveID","pt":"global","to":"0","tot":"str"},{"t":"set","p":"unitSN","pt":"global","to":"","tot":"str"},{"t":"set","p":"moveIn","pt":"global","to":"","tot":"str"},{"t":"set","p":"finalResults","pt":"global","to":"","tot":"str"},{"t":"set","p":"finalResultsPassFail","pt":"global","to":"pass","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":2740,"wires":[[]]},{"id":"102c48ea.645357","type":"inject","z":"e5e24c23.7a463","name":"","topic":"","payload":"programComment","payloadType":"global","repeat":".5","crontab":"","once":false,"onceDelay":"","x":1590,"y":720,"wires":[["3ae8208b.3eb1e"]]},{"id":"5301bd3f.202264","type":"change","z":"3a85359a.e6824a","name":"","rules":[{"t":"set","p":"lastError","pt":"global","to":"Low Screws","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":360,"wires":[[]]},{"id":"d16d8fab.ae6db","type":"delay","z":"3a85359a.e6824a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1370,"y":320,"wires":[["5301bd3f.202264"]]},{"id":"71a1cd7.d12b134","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":680,"y":280,"wires":[["3051899e.b680a6"]]},{"id":"313f645e.73da6c","type":"debug","z":"e5e24c23.7a463","name":"","active":true,"console":"false","complete":"false","x":1330,"y":360,"wires":[]},{"id":"55789129.d2594","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1460,"y":2660,"wires":[["a77ffab7.32fa48"]]},{"id":"56469e31.74a49","type":"switch","z":"3260938e.c8e16c","name":"Wait for Step ID 21400","property":"stepID","propertyType":"global","rules":[{"t":"eq","v":"21400","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1080,"y":2580,"wires":[["291fc3ed.a6ed9c","55789129.d2594","30fde693.153d8a"],["aee1671c.bde818"]]},{"id":"aee1671c.bde818","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":2620,"wires":[["56469e31.74a49"]]},{"id":"4da8deb2.bd781","type":"debug","z":"6ae93295.8ec08c","name":"","active":false,"console":"false","complete":"false","x":1242,"y":1089.5,"wires":[]},{"id":"7ef4605b.c991a","type":"ui_button","z":"e5e24c23.7a463","name":"","group":"d43aa6c.2019a58","order":1,"width":"4","height":"3","passthru":true,"label":"Abort","color":"","bgcolor":"Red","icon":"","payload":"1","payloadType":"str","topic":"","x":1490,"y":160,"wires":[["6e02301a.0efbc","54eceb6d.b26f84"]]},{"id":"3de00c99.a5b3b4","type":"ui_button","z":"3154d002.9ac9f","name":"","group":"a1f952c7.76351","order":3,"width":"5","height":"1","passthru":true,"label":"Scan Barcode","color":"","bgcolor":"","icon":"","payload":"025403","payloadType":"str","topic":"","x":200,"y":200,"wires":[["ebb64b4e.84e858"]]},{"id":"f39f1349.2174d","type":"ui_button","z":"ef364d63.72de9","name":"","group":"73ae1969.836db8","order":2,"width":"6","height":"1","passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"00230224001000000000006","payloadType":"str","topic":"","x":890,"y":300,"wires":[["ae56b9b8.ee4518"]]},{"id":"da36a29b.4b28e","type":"ui_button","z":"ef364d63.72de9","name":"","group":"73ae1969.836db8","order":3,"width":"6","height":"1","passthru":false,"label":"Re-Connect","color":"","bgcolor":"","icon":"","payload":"00200001006000000000","payloadType":"str","topic":"","x":910,"y":260,"wires":[["ae56b9b8.ee4518"]]},{"id":"1091c77c.83dd09","type":"ui_button","z":"ef364d63.72de9","name":"","group":"73ae1969.836db8","order":3,"width":"6","height":"1","passthru":false,"label":"Start","color":"","bgcolor":"","icon":"","payload":"00230224001000000000001","payloadType":"str","topic":"","x":890,"y":220,"wires":[["ae56b9b8.ee4518"]]},{"id":"53e7eb32.823ca4","type":"ui_dropdown","z":"ef364d63.72de9","name":"","label":"P-Set Select","place":"Select option","group":"73ae1969.836db8","order":1,"width":"6","height":"1","passthru":true,"options":[{"label":"P-Set1","value":"002300180010        001","type":"str"},{"label":"P-Set2","value":"002300180010        002","type":"str"},{"label":"P-Set3","value":"002300180010        003","type":"str"}],"payload":"","topic":"","x":850.0000076293945,"y":490.00000381469727,"wires":[["ae56b9b8.ee4518"]]},{"id":"40bc924e.76b8cc","type":"ui_switch","z":"e5e24c23.7a463","name":"","label":"Torque on/off","group":"a1f952c7.76351","order":2,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"991135000 991135003 80 70 60 0 0 0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"991135000 991135003 0 0 0 0 0 0 0","offvalueType":"str","officon":"","offcolor":"","x":570,"y":540,"wires":[["78e8a094.3f9ab"]]},{"id":"a98f78dc.847388","type":"ui_slider","z":"e5e24c23.7a463","name":"","label":"Set Acceleration","group":"a1f952c7.76351","order":1,"width":"5","height":"1","passthru":true,"topic":"","min":"0","max":"2000","step":"5","x":380,"y":580,"wires":[["2881ef9e.1c618"]]},{"id":"cd6097c2.9f57f8","type":"ui_text","z":"e5e24c23.7a463","group":"80669a26.6fad88","order":3,"width":"5","height":"1","name":"","label":"Commanded Torque","format":"{{msg.payload}}","layout":"row-spread","x":1700,"y":480,"wires":[]},{"id":"22ecb7a3.0fb2c8","type":"ui_text","z":"3154d002.9ac9f","group":"82cc784b.5c51c8","order":6,"width":"5","height":"1","name":"","label":"Barcode Value","format":"{{msg.payload}}","layout":"col-center","x":1289.5369873046875,"y":154.24118041992188,"wires":[]},{"id":"3ae8208b.3eb1e","type":"ui_text","z":"e5e24c23.7a463","group":"82cc784b.5c51c8","order":4,"width":"10","height":"1","name":"","label":"Program Comment","format":"{{msg.payload}}","layout":"col-center","x":1812.5,"y":722.5,"wires":[]},{"id":"2dcba4db.27725c","type":"ui_text","z":"e5e24c23.7a463","group":"82cc784b.5c51c8","order":3,"width":"5","height":"1","name":"","label":"Z Position","format":"{{msg.payload|number:3}}","layout":"col-center","x":1660,"y":440,"wires":[]},{"id":"4074fd18.1036f4","type":"ui_text","z":"e5e24c23.7a463","group":"82cc784b.5c51c8","order":2,"width":"5","height":"1","name":"","label":"Y Position","format":"{{msg.payload|number:3}}","layout":"col-center","x":1660,"y":400,"wires":[]},{"id":"a1aa0d24.8925","type":"ui_text","z":"e5e24c23.7a463","group":"82cc784b.5c51c8","order":1,"width":"5","height":"1","name":"","label":"X Position","format":"{{msg.payload|number:3}}","layout":"col-center","x":1660,"y":360,"wires":[]},{"id":"2ae17db9.3211c2","type":"ui_text","z":"e5e24c23.7a463","group":"80669a26.6fad88","order":1,"width":"5","height":"1","name":"","label":"Axis Status","format":"{{msg.payload|number:3}}","layout":"col-center","x":1670,"y":520,"wires":[]},{"id":"815e21cf.2c3ec","type":"ui_gauge","z":"ef364d63.72de9","name":"","group":"5e7674aa.63668c","order":1,"width":"6","height":"4","gtype":"gage","title":"Torque","label":"Nm","format":"{{value/1000| number:3}}","min":"0","max":"3600","colors":["#ffff00","#04e152","#ca3838"],"seg1":"1700","seg2":"2100","x":1743,"y":551,"wires":[]},{"id":"e840742c.be2d48","type":"ui_gauge","z":"ef364d63.72de9","name":"","group":"5e7674aa.63668c","order":2,"width":"6","height":"4","gtype":"gage","title":"Angle","label":"Degrees","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1742,"y":603,"wires":[]},{"id":"519c48b4.f95348","type":"switch","z":"3260938e.c8e16c","name":"wait for MES","property":"moveIn","propertyType":"global","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"NOK","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":971,"y":599,"wires":[["4eef3e09.933c4"],["8819d74e.5de438"],["f793e71e.632a28"]]},{"id":"f793e71e.632a28","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":973,"y":655,"wires":[["519c48b4.f95348"]]},{"id":"3be9874f.1ea5e8","type":"comment","z":"3260938e.c8e16c","name":"Check MES","info":"This will check MES and loop until eith OK or NOK. If NOK, Jump back to barcode retry. IF OK, move on to next step","x":978,"y":530,"wires":[]},{"id":"c8ce9663.7973a8","type":"debug","z":"3154d002.9ac9f","name":"","active":true,"console":"false","complete":"false","x":1331.77783203125,"y":513.7777709960938,"wires":[]},{"id":"78078ef1.a4dc5","type":"inject","z":"3154d002.9ac9f","name":"","topic":"","payload":"MESTest TEST989890","payloadType":"str","repeat":"","crontab":"","once":false,"x":230.7777862548828,"y":527.6666584014893,"wires":[["c996f62b.981228"]]},{"id":"c996f62b.981228","type":"exec","z":"3154d002.9ac9f","command":"C:\\Users\\user\\.node-red\\JHAITester\\JHAITester\\movein.bat","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":601.8888854980469,"y":560.833309173584,"wires":[["3f16ac46.17c164","4fbdcffe.9333f"],[],[]]},{"id":"5522d7fc.346318","type":"switch","z":"3154d002.9ac9f","name":"OK to Work?","property":"payload.result","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1118.7777709960938,"y":546.7777709960938,"wires":[["c8ce9663.7973a8","b3111100.e4c27"],["ec2b8cc3.675b6","27bd672a.9a99a8","760e4900.ab06d8"]]},{"id":"72335c31.e52a04","type":"ui_toast","z":"3154d002.9ac9f","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1557.77783203125,"y":574.7777709960938,"wires":[[]]},{"id":"3f16ac46.17c164","type":"json","z":"3154d002.9ac9f","name":"","pretty":true,"x":956.7777709960938,"y":547.7777709960938,"wires":[["5522d7fc.346318","3288cf78.81a7a"]]},{"id":"ec2b8cc3.675b6","type":"debug","z":"3154d002.9ac9f","name":"","active":true,"console":"false","complete":"false","x":1322.77783203125,"y":654.7777709960938,"wires":[]},{"id":"2226af5c.dee8e","type":"inject","z":"3154d002.9ac9f","name":"","topic":"","payload":"MESTest TEST989899","payloadType":"str","repeat":"","crontab":"","once":false,"x":228.33333587646484,"y":624.2222099304199,"wires":[["c996f62b.981228"]]},{"id":"b3111100.e4c27","type":"change","z":"3154d002.9ac9f","name":"Set Unit movIn Status","rules":[{"t":"set","p":"moveIn","pt":"global","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1357.77783203125,"y":479.77777099609375,"wires":[[]]},{"id":"27bd672a.9a99a8","type":"change","z":"3154d002.9ac9f","name":"Set Unit movIn Status","rules":[{"t":"set","p":"moveIn","pt":"global","to":"NOK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1351.77783203125,"y":615.7777709960938,"wires":[[]]},{"id":"3455b362.32f0dc","type":"change","z":"3154d002.9ac9f","name":"","rules":[{"t":"set","p":"unitSN","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1214.444450378418,"y":253.3333339691162,"wires":[["5a09750e.d73d7c","992d4d42.fcb19"]]},{"id":"5a09750e.d73d7c","type":"change","z":"3154d002.9ac9f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"MESTest TEST989899","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1442.2222222222222,"y":253.33333333333331,"wires":[["c996f62b.981228"]]},{"id":"3288cf78.81a7a","type":"ui_text","z":"3154d002.9ac9f","group":"4b63b739.756588","order":0,"width":0,"height":0,"name":"","label":"Last MES Status Response:","format":"{{msg.payload.error}}","layout":"row-left","x":1372,"y":445,"wires":[]},{"id":"760e4900.ab06d8","type":"change","z":"3154d002.9ac9f","name":"Change Comment","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unit Failed MES Read","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":576,"wires":[["72335c31.e52a04"]]},{"id":"b4a873f6.fa9ec","type":"function","z":"cbece41c.1a9cf8","name":"Set Torque Values for MES","func":"var curFinalResults = global.get(\"finalResults\");\nvar curResultType = global.get(\"resultType\");\nvar curFinalTorque= global.get(\"finalTorque\");\nvar curFinalAngle = global.get(\"finalAngle\");\nvar curResults=curResultType+\",\"+curFinalTorque+\",\"+curFinalAngle;\nglobal.set(\"finalResults\", curFinalResults+\",\"+curResults);\n\nif (curResultType!=1){\nglobal.set(\"finalResultsPassFail\", \"fail\");    \n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1963,"y":418,"wires":[[]]},{"id":"30fde693.153d8a","type":"link out","z":"3260938e.c8e16c","name":"To MES","links":["d4652081.e0dd1"],"x":1445.5555555555554,"y":2718.8888888888887,"wires":[]},{"id":"7cf13a77.702c04","type":"inject","z":"3154d002.9ac9f","name":"","topic":"","payload":"MESTest TEST989890 \"1.2,1.5,1.8\" pass","payloadType":"str","repeat":"","crontab":"","once":false,"x":310.55560302734375,"y":1116.6666259765625,"wires":[["953f859a.a17138"]]},{"id":"953f859a.a17138","type":"exec","z":"3154d002.9ac9f","command":"C:\\Users\\MotionCell\\.node-red\\JHAITester\\JHAITester\\moveout.bat","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":648.5556030273438,"y":1144.166639328003,"wires":[["ce2a0eee.f319","df632438.565a18"],[],[]]},{"id":"2021e414.af9e6c","type":"switch","z":"3154d002.9ac9f","name":"OK to Work?","property":"payload.result","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1150.5555419921875,"y":1102.6666259765625,"wires":[["33bd210a.48887e"],["29495167.1063fe","6a01af5c.67c2b"]]},{"id":"ce2a0eee.f319","type":"json","z":"3154d002.9ac9f","name":"","pretty":true,"x":984.5556030273438,"y":1106.666639328003,"wires":[["2021e414.af9e6c","5f8abaae.f11604"]]},{"id":"998bf13d.83d64","type":"inject","z":"3154d002.9ac9f","name":"","topic":"","payload":"MESTest TEST989899 \"1.2,1.5,1.8\" pass","payloadType":"str","repeat":"","crontab":"","once":false,"x":313.888916015625,"y":1156.4444675445557,"wires":[["953f859a.a17138"]]},{"id":"876e3560.895c18","type":"function","z":"3154d002.9ac9f","name":"Set Results for MES","func":"\nvar finalResults = global.get(\"finalResults\");\nvar finalResultsPassFail = global.get(\"finalResultsPassFail\");\nvar msgPrefix= \"MESTest TEST989899\";\n\n//remove after testing\n//finalResultsPassFail=\"pass\";\n\nvar msgOut=msgPrefix+\" \"+ \"\\\"\" +finalResults+ \"\\\"\" +\" \"+finalResultsPassFail;\n\nmsg.payload=msgOut;\n\nreturn msg;","outputs":1,"noerr":0,"x":301.1111145019531,"y":1068.111083984375,"wires":[["953f859a.a17138","899e85f.cdd2078"]]},{"id":"d4652081.e0dd1","type":"link in","z":"3154d002.9ac9f","name":"MES Out","links":["30fde693.153d8a","48353333.f774cc"],"x":148.00000339084204,"y":1070.999972873264,"wires":[["876e3560.895c18"]]},{"id":"5f8abaae.f11604","type":"ui_text","z":"3154d002.9ac9f","group":"4b63b739.756588","order":0,"width":0,"height":0,"name":"","label":"Last MES Log Response:","format":"{{msg.payload.error}}","layout":"row-left","x":1210,"y":900,"wires":[]},{"id":"d5601243.5e75c","type":"ui_toast","z":"3154d002.9ac9f","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1550,"y":1160,"wires":[[]]},{"id":"29495167.1063fe","type":"change","z":"3154d002.9ac9f","name":"Change Comment","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unit Failed MES Log","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1367.22216796875,"y":1163.22216796875,"wires":[["d5601243.5e75c"]]},{"id":"899e85f.cdd2078","type":"debug","z":"3154d002.9ac9f","name":"","active":true,"console":"false","complete":"false","x":552.2222256130642,"y":1061.4444173177085,"wires":[]},{"id":"4805706f.dd287","type":"inject","z":"3154d002.9ac9f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108.33333163791235,"y":1029.3332858615452,"wires":[["876e3560.895c18"]]},{"id":"881729a0.6538b8","type":"inject","z":"3154d002.9ac9f","name":"","topic":"","payload":"\"MESTest TEST989899 [object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object] pass\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":312.1111145019531,"y":1193.22216796875,"wires":[["953f859a.a17138"]]},{"id":"df632438.565a18","type":"debug","z":"3154d002.9ac9f","name":"","active":true,"console":"false","complete":"false","x":1004.4444580078125,"y":1189.888916015625,"wires":[]},{"id":"ef1069c9.6f46f8","type":"comment","z":"3154d002.9ac9f","name":"Movein Command","info":"","x":622,"y":437,"wires":[]},{"id":"85dd5f01.44abd","type":"comment","z":"3154d002.9ac9f","name":"Moveout Command","info":"","x":663,"y":976,"wires":[]},{"id":"c0dabccd.02198","type":"link in","z":"e5e24c23.7a463","name":"To Abort","links":["8819d74e.5de438","1cdeb243.bd8ede","853967d5.41af58"],"x":1295,"y":160,"wires":[["7ef4605b.c991a"]]},{"id":"8819d74e.5de438","type":"link out","z":"3260938e.c8e16c","name":"","links":["c0dabccd.02198"],"x":1186,"y":622,"wires":[]},{"id":"b38f43a.5941dc","type":"function","z":"3154d002.9ac9f","name":"","func":"var barcode=msg.payload;\n\n//Remove everything after specia char ETX\nvar parseBarcode=(barcode.split(String.fromCharCode(03),1));\n//convert from array to string. Then remove STX\nvar parseVal=parseBarcode.toString(); \nvar resultCode=parseVal.slice(1);\n\nmsg.payload=resultCode;\nreturn msg;","outputs":1,"noerr":0,"x":1098,"y":151,"wires":[["22ecb7a3.0fb2c8"]]},{"id":"fdcecbfa.e9d1b8","type":"switch","z":"ef364d63.72de9","name":"","property":"programComment","propertyType":"global","rules":[{"t":"eq","v":"Placing Screw","vt":"str"}],"checkall":"true","outputs":1,"x":1604,"y":549,"wires":[["815e21cf.2c3ec"]]},{"id":"1f5be72d.2ec0d9","type":"switch","z":"ef364d63.72de9","name":"","property":"programComment","propertyType":"global","rules":[{"t":"eq","v":"Placing Screw","vt":"str"}],"checkall":"true","outputs":1,"x":1606,"y":605,"wires":[["e840742c.be2d48"]]},{"id":"5926317b.828e6","type":"ui_template","z":"3154d002.9ac9f","group":"228d2f8.85130d","name":"Step Process Image","order":0,"width":"27","height":"7","format":"<html>\n<body bgcolor=\"#E6E6FA\">\n<center>\n    <img src=\"/step{{(msg.payload)}}.png\" style=\"width:280px;height:280px;\"/>\n    </center>\n</html>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1540,"y":1080,"wires":[[]]},{"id":"6ddfdcc6.310244","type":"comment","z":"3154d002.9ac9f","name":"How to display an image","info":"Display Fixed Image:\n\n<img src=\"/DSC_0103.jpg\"/>\n\nDisplay dynamic Image:\n<img src=\"/step{{(msg.payload)}}.png\" style=\"width:280px;height:280px;\"/>","x":1770,"y":1080,"wires":[]},{"id":"6a01af5c.67c2b","type":"change","z":"3154d002.9ac9f","name":"_fail","rules":[{"t":"set","p":"payload","pt":"msg","to":"_fail","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1120,"wires":[["5926317b.828e6"]]},{"id":"33bd210a.48887e","type":"change","z":"3154d002.9ac9f","name":"_pass","rules":[{"t":"set","p":"payload","pt":"msg","to":"_pass","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1080,"wires":[["5926317b.828e6"]]},{"id":"a5a91d03.9ed9d","type":"change","z":"3154d002.9ac9f","name":"_running","rules":[{"t":"set","p":"payload","pt":"msg","to":"_running","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":1040,"wires":[["5926317b.828e6"]]},{"id":"e22aa1a7.4cf8d","type":"link in","z":"3154d002.9ac9f","name":"status Image","links":["54bc13b6.61dabc","67eb3cdc.2fb084"],"x":1180,"y":1044,"wires":[["a5a91d03.9ed9d"]]},{"id":"4fbdcffe.9333f","type":"debug","z":"3154d002.9ac9f","name":"","active":true,"console":"false","complete":"false","x":1067,"y":676,"wires":[]},{"id":"17dfb027.c95ec","type":"comment","z":"3260938e.c8e16c","name":"Position 4","info":"","x":1463.7500190734863,"y":2042.5000324249268,"wires":[]},{"id":"5c2542ac.98c6ec","type":"comment","z":"3260938e.c8e16c","name":"Position 3","info":"","x":1403.75,"y":1507.5,"wires":[]},{"id":"1f2ca4e3.06dcdb","type":"comment","z":"3260938e.c8e16c","name":"Position 2","info":"","x":1413.75,"y":1043.75,"wires":[]},{"id":"4c18880b.d7c388","type":"comment","z":"3260938e.c8e16c","name":"Position 1","info":"","x":1431.25,"y":658.75,"wires":[]},{"id":"2e877c34.f42814","type":"switch","z":"3a85359a.e6824a","name":"Screw Stuck?","property":"screwProxLaser","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":840,"y":260,"wires":[["6df51009.44d91"],["c50598be.d586e8","8e4e5551.ac0228"]]},{"id":"cb1c8b23.21a7a8","type":"change","z":"3a85359a.e6824a","name":"","rules":[{"t":"set","p":"lastError","pt":"global","to":"Screw Stuck on Bit. Remove Screw, Then Press Start.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":140,"wires":[[]]},{"id":"94fc22f1.584ee","type":"ui_text","z":"e5e24c23.7a463","group":"4b63b739.756588","order":0,"width":0,"height":0,"name":"Last Error Message","label":"Last Error Message:","format":"{{msg.payload}}","layout":"row-left","x":1810,"y":680,"wires":[]},{"id":"f2af16fe.bcc838","type":"inject","z":"e5e24c23.7a463","name":"","topic":"","payload":"lastError","payloadType":"global","repeat":".5","crontab":"","once":false,"onceDelay":"","x":1600,"y":680,"wires":[["94fc22f1.584ee"]]},{"id":"9a0ea4d5.793208","type":"switch","z":"3a85359a.e6824a","name":"Screw Picked?","property":"screwProxLaser","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":840,"y":560,"wires":[[],["22d88e3c.31d262","fa9db2c3.c45cc"]]},{"id":"22d88e3c.31d262","type":"change","z":"3a85359a.e6824a","name":"","rules":[{"t":"set","p":"lastError","pt":"global","to":"Screw Pickup Error. Press Start to Retry.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":580,"wires":[[]]},{"id":"fa9db2c3.c45cc","type":"switch","z":"3a85359a.e6824a","name":"Wait for Start Button","property":"startButton","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"neq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":860,"y":600,"wires":[["fe11654c.6112c8"],["8fbe2c10.42775"]]},{"id":"8fbe2c10.42775","type":"delay","z":"3a85359a.e6824a","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":640,"wires":[["fa9db2c3.c45cc"]]},{"id":"c50598be.d586e8","type":"switch","z":"3a85359a.e6824a","name":"Wait for Start Button","property":"startButton","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"neq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":840,"y":320,"wires":[["2e877c34.f42814"],["9e05df2c.3d301"]]},{"id":"9e05df2c.3d301","type":"delay","z":"3a85359a.e6824a","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":360,"wires":[["c50598be.d586e8"]]},{"id":"1473532b.cdae8d","type":"switch","z":"3260938e.c8e16c","name":"Part Fixture Status","property":"fixtureProx","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1010,"y":220,"wires":[["3c8c6a9a.4eb6e6"],[]]},{"id":"8e4e5551.ac0228","type":"delay","z":"3a85359a.e6824a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":970,"y":140,"wires":[["cb1c8b23.21a7a8"]]},{"id":"747c1ded.c89f94","type":"switch","z":"e5e24c23.7a463","name":"Part Fixture Status","property":"fixtureProx","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":350,"y":460,"wires":[["87f36e85.eae1d"],["725cae3d.ff65d","bbe9400f.e8138"]]},{"id":"bbe9400f.e8138","type":"change","z":"e5e24c23.7a463","name":"","rules":[{"t":"set","p":"lastError","pt":"global","to":"Remove Part from Fixture","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":460,"wires":[[]]},{"id":"725cae3d.ff65d","type":"delay","z":"e5e24c23.7a463","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":420,"wires":[["853967d5.41af58"]]},{"id":"a77ffab7.32fa48","type":"switch","z":"3260938e.c8e16c","name":"Wait for part to be removed","property":"fixtureProx","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1640,"y":2740,"wires":[["10aeaa61.eaed26"],["4a8d554f.0aeaac","dffc059c.811818"]]},{"id":"4a8d554f.0aeaac","type":"delay","z":"3260938e.c8e16c","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1620,"y":2780,"wires":[["a77ffab7.32fa48"]]},{"id":"dffc059c.811818","type":"change","z":"3260938e.c8e16c","name":"Set screen Comment","rules":[{"t":"set","p":"programComment","pt":"global","to":"Remove Assembly","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":2820,"wires":[[]]},{"id":"a03849be.253728","type":"delay","z":"6ae93295.8ec08c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":260,"wires":[["35cdc57b.3530ca"]]},{"id":"f5982d5d.55fa3","type":"rbe","z":"e5e24c23.7a463","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1130,"y":360,"wires":[["313f645e.73da6c"]]},{"id":"8450c583.caf528","type":"change","z":"635dfead.b0f3b","name":"Move to Point 10100 & Set SID to 20200","rules":[{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 10 10 -10 1000 1 0 10100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":460,"wires":[["deeae3ce.2ff44","a4a56173.11db4"]]},{"id":"deeae3ce.2ff44","type":"link out","z":"635dfead.b0f3b","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1055,"y":340,"wires":[]},{"id":"ff6062ff.90564","type":"inject","z":"635dfead.b0f3b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":460,"wires":[["8450c583.caf528"]]},{"id":"832e8cb9.91c2b","type":"change","z":"635dfead.b0f3b","name":"Move to Point 10100 & Set SID to 20200","rules":[{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 100 110 -50 1000 1 0 10200","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":620,"wires":[["4fc36696.7fe308","ade084fa.490248","f5f8f179.b5ada"]]},{"id":"4fc36696.7fe308","type":"link out","z":"635dfead.b0f3b","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1035,"y":620,"wires":[]},{"id":"8b39a1a4.6632","type":"change","z":"e5e24c23.7a463","name":"reset CMD","rules":[{"t":"set","p":"payload","pt":"msg","to":"991135000 991135004 0 0 0 0 0 0 0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":500,"wires":[["78e8a094.3f9ab"]]},{"id":"23a61c45.a5cb74","type":"debug","z":"e5e24c23.7a463","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":320,"wires":[]},{"id":"9a077da9.98d87","type":"debug","z":"e5e24c23.7a463","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":560,"wires":[]},{"id":"853967d5.41af58","type":"link out","z":"e5e24c23.7a463","name":"","links":["c0dabccd.02198"],"x":655,"y":420,"wires":[]},{"id":"f0a70bae.228af8","type":"inject","z":"e5e24c23.7a463","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":540,"wires":[["8b39a1a4.6632"]]},{"id":"a4a56173.11db4","type":"switch","z":"635dfead.b0f3b","name":"Wait for StepID 20300","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"10100","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1180,"y":460,"wires":[["832e8cb9.91c2b"],["5de1cdf7.98b074"]]},{"id":"5de1cdf7.98b074","type":"delay","z":"635dfead.b0f3b","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":540,"wires":[["a4a56173.11db4"]]},{"id":"ade084fa.490248","type":"switch","z":"635dfead.b0f3b","name":"Wait for StepID 20300","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"10200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":720,"wires":[["6a3a7abb.8fcfe4"],["a022904d.bfa51"]]},{"id":"a022904d.bfa51","type":"delay","z":"635dfead.b0f3b","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":820,"wires":[["ade084fa.490248"]]},{"id":"f5f8f179.b5ada","type":"debug","z":"635dfead.b0f3b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":620,"wires":[]},{"id":"f4c1d45.6815928","type":"change","z":"e5e24c23.7a463","name":"","rules":[{"t":"set","p":"lastCommand","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":320,"wires":[[]]},{"id":"6a3a7abb.8fcfe4","type":"change","z":"635dfead.b0f3b","name":"Move to Point 10100 & Set SID to 20200","rules":[{"t":"set","p":"payload","pt":"msg","to":"991135000 991135002 200 110 -100 1000 1 0 10300","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":840,"wires":[["e655f837.46cb38","4d09da20.3f64e4","f93c04bd.f4ea28"]]},{"id":"e655f837.46cb38","type":"link out","z":"635dfead.b0f3b","name":"To Servos","links":["23fb9591.1754da","d6b55453.674b98"],"x":1155,"y":820,"wires":[]},{"id":"4d09da20.3f64e4","type":"switch","z":"635dfead.b0f3b","name":"Wait for StepID 20300","property":"moveID","propertyType":"global","rules":[{"t":"eq","v":"10300","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1160,"y":900,"wires":[["8450c583.caf528"],["e6398af6.f7ace8"]]},{"id":"e6398af6.f7ace8","type":"delay","z":"635dfead.b0f3b","name":"","pauseType":"delay","timeout":".1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":980,"wires":[["4d09da20.3f64e4"]]},{"id":"f93c04bd.f4ea28","type":"debug","z":"635dfead.b0f3b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":840,"wires":[]},{"id":"ea6e22d.bf4e7e","type":"change","z":"3260938e.c8e16c","name":"send last CMD","rules":[{"t":"set","p":"payload","pt":"msg","to":"lastCommand","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[["71a1cd7.d12b134"]]},{"id":"282c9725.443d98","type":"inject","z":"3260938e.c8e16c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":280,"wires":[["ea6e22d.bf4e7e"]]},{"id":"1fd40e71.ad8172","type":"change","z":"e5e24c23.7a463","name":"","rules":[{"t":"set","p":"servosAppReady","pt":"global","to":"Servos are Ready","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":280,"wires":[[]]},{"id":"bfcdd40f.26b268","type":"change","z":"e5e24c23.7a463","name":"","rules":[{"t":"set","p":"servosAppReady","pt":"global","to":"Wait for Servos","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":620,"wires":[[]]},{"id":"4e730813.c4c648","type":"inject","z":"e5e24c23.7a463","name":"","topic":"","payload":"servosAppReady","payloadType":"global","repeat":".5","crontab":"","once":false,"onceDelay":"","x":1590,"y":760,"wires":[["d80b5287.8e439"]]},{"id":"d80b5287.8e439","type":"ui_text","z":"e5e24c23.7a463","group":"4b63b739.756588","order":4,"width":"10","height":"1","name":"","label":"Servo Status","format":"{{msg.payload}}","layout":"row-left","x":1792.5,"y":762.5,"wires":[]},{"id":"7569d5c1.a208ec","type":"inject","z":"e5e24c23.7a463","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":700,"wires":[["1cd21436.5bc66c"]]},{"id":"1cd21436.5bc66c","type":"change","z":"e5e24c23.7a463","name":"send last CMD","rules":[{"t":"set","p":"payload","pt":"msg","to":"lastCommand","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":700,"wires":[["d24c7b4d.fe7f18","78e8a094.3f9ab"]]},{"id":"d24c7b4d.fe7f18","type":"debug","z":"e5e24c23.7a463","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":720,"wires":[]},{"id":"3b292663.1cb75a","type":"inject","z":"e5e24c23.7a463","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":280,"wires":[["87f36e85.eae1d"]]},{"id":"7df6a4fb.cb076c","type":"debug","z":"e5e24c23.7a463","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":580,"wires":[]},{"id":"b3f1eced.f0b6e","type":"link in","z":"e5e24c23.7a463","name":"MotionControl","links":["78e8a094.3f9ab"],"x":715,"y":600,"wires":[["e03b3377.4118f"]]},{"id":"78e8a094.3f9ab","type":"link out","z":"e5e24c23.7a463","name":"to motionControl","links":["b3f1eced.f0b6e"],"x":675,"y":600,"wires":[]},{"id":"54a34294.c2d90c","type":"ui_button","z":"e5e24c23.7a463","name":"","group":"d43aa6c.2019a58","order":1,"width":"4","height":"3","passthru":true,"label":"Reset","color":"","bgcolor":"Blue","icon":"","payload":"1","payloadType":"str","topic":"","x":390,"y":660,"wires":[["8b39a1a4.6632","362694d8.e0dbfc"]]},{"id":"992d4d42.fcb19","type":"debug","z":"3154d002.9ac9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1680,"y":220,"wires":[]},{"id":"a16004ac.c8ca38","type":"ui_button","z":"e5e24c23.7a463","name":"","group":"d43aa6c.2019a58","order":1,"width":"4","height":"3","passthru":true,"label":"Home Robot","color":"","bgcolor":"Yellow","icon":"","payload":"1","payloadType":"str","topic":"","x":370,"y":340,"wires":[["87f36e85.eae1d"]]},{"id":"8a49835f.5896c","type":"delay","z":"e5e24c23.7a463","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1000,"y":580,"wires":[["bcf6c677.c93ca8","f5982d5d.55fa3","7df6a4fb.cb076c"]]},{"id":"b0cebda2.31ede","type":"inject","z":"e5e24c23.7a463","name":"Trigger on Starup only","topic":"","payload":"1500","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":100,"y":580,"wires":[["fb412c32.e19bc"]]},{"id":"362694d8.e0dbfc","type":"change","z":"e5e24c23.7a463","name":"","rules":[{"t":"set","p":"lastError","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":660,"wires":[[]]},{"id":"fb412c32.e19bc","type":"delay","z":"e5e24c23.7a463","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":620,"wires":[["2881ef9e.1c618"]]}]