test-suite.json
[{
  "id": "b73331c3.9d088",
  "type": "tab",
  "label": "Robot Comunication",
  "disabled": false,
  "info": ""
}, {
  "id": "ff599afc.f6ff88",
  "type": "tab",
  "label": "Servo Control",
  "disabled": false,
  "info": ""
}, {
  "id": "f9090ee5.2f043",
  "type": "tab",
  "label": "MES and Barcode",
  "disabled": false,
  "info": ""
}, {
  "id": "fc6f34bf.194538",
  "type": "tab",
  "label": "Scratch Pad",
  "disabled": false,
  "info": ""
}, {
  "id": "b8008715.42e998",
  "type": "tab",
  "label": "Flow 1"
}, {
  "id": "a5627da9.62f63",
  "type": "fanuc-registry",
  "z": "",
  "host": "localhost:3080"
}, {
  "id": "2a996eac.66b232",
  "type": "ui_base",
  "theme": {
    "name": "theme-light",
    "lightTheme": {
      "default": "#0094CE",
      "baseColor": "#0094CE",
      "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
      "edited": true,
      "reset": false
    },
    "darkTheme": {
      "default": "#097479",
      "baseColor": "#097479",
      "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
      "edited": false
    },
    "customTheme": {
      "name": "Untitled Theme 1",
      "default": "#4B7930",
      "baseColor": "#4B7930",
      "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
    },
    "themeState": {
      "base-color": {
        "default": "#0094CE",
        "value": "#0094CE",
        "edited": false
      },
      "page-titlebar-backgroundColor": {
        "value": "#0094CE",
        "edited": false
      },
      "page-backgroundColor": {
        "value": "#fafafa",
        "edited": false
      },
      "page-sidebar-backgroundColor": {
        "value": "#ffffff",
        "edited": false
      },
      "group-textColor": {
        "value": "#1bbfff",
        "edited": false
      },
      "group-borderColor": {
        "value": "#ffffff",
        "edited": false
      },
      "group-backgroundColor": {
        "value": "#ffffff",
        "edited": false
      },
      "widget-textColor": {
        "value": "#111111",
        "edited": false
      },
      "widget-backgroundColor": {
        "value": "#0094ce",
        "edited": false
      },
      "widget-borderColor": {
        "value": "#ffffff",
        "edited": false
      },
      "base-font": {
        "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      }
    }
  },
  "site": {
    "name": "Node-RED Dashboard",
    "hideToolbar": "false",
    "allowSwipe": "false",
    "dateFormat": "DD/MM/YYYY",
    "sizes": {
      "sx": 48,
      "sy": 48,
      "gx": 6,
      "gy": 6,
      "cx": 6,
      "cy": 6,
      "px": 0,
      "py": 0
    }
  }
}, {
  "id": "cebca097.8e29",
  "type": "ui_group",
  "z": "",
  "name": "Part Feeder Controls",
  "tab": "",
  "order": 5,
  "disp": true,
  "width": "6"
}, {
  "id": "14308ee3.7e5831",
  "type": "ui_group",
  "z": "",
  "name": "Robot Controls",
  "tab": "fbd72bc9.d633c8",
  "order": 1,
  "disp": true,
  "width": "15"
}, {
  "id": "dc32812a.a1de8",
  "type": "ui_group",
  "z": "b73331c3.9d088",
  "name": "System Dashboard ",
  "tab": "e66d4df4.78e51",
  "order": 2,
  "disp": false,
  "width": "24"
}, {
  "id": "77be3399.ca03fc",
  "type": "ui_group",
  "z": "",
  "name": "System Messages",
  "tab": "e66d4df4.78e51",
  "order": 1,
  "disp": false,
  "width": "24"
}, {
  "id": "615a1a8a.4f6c84",
  "type": "ui_group",
  "z": "",
  "name": "Counters",
  "tab": "e66d4df4.78e51",
  "order": 3,
  "disp": false,
  "width": "24"
}, {
  "id": "d97c12a2.b68f2",
  "type": "ui_group",
  "z": "",
  "name": "Conveyor Controls",
  "tab": "fbd72bc9.d633c8",
  "order": 2,
  "disp": true,
  "width": "6"
}, {
  "id": "38183d8e.9d1662",
  "type": "ui_group",
  "z": "",
  "name": "Button Controls test",
  "tab": "e66d4df4.78e51",
  "order": 4,
  "disp": false,
  "width": "4"
}, {
  "id": "fe33d648.34d848",
  "type": "ui_group",
  "z": "",
  "name": "Program Select",
  "tab": "",
  "disp": true,
  "width": "34"
}, {
  "id": "19f96158.7c284f",
  "type": "ui_group",
  "z": "",
  "name": "image",
  "tab": "e66d4df4.78e51",
  "order": 5,
  "disp": false,
  "width": "24"
}, {
  "id": "fbd72bc9.d633c8",
  "type": "ui_tab",
  "z": "",
  "name": "Jog Controls",
  "icon": "fa-cogs",
  "order": 3
}, {
  "id": "e66d4df4.78e51",
  "type": "ui_tab",
  "z": "",
  "name": "Dashboard",
  "icon": "fa-tachometer",
  "order": 1
}, {
  "id": "740e4d26.6bfe24",
  "type": "ui_group",
  "z": "",
  "name": "Program Select",
  "tab": "",
  "order": 1,
  "disp": true,
  "width": "34"
}, {
  "id": "53ce0e51.d57f5",
  "type": "ui_group",
  "z": "",
  "name": "Currenst Step",
  "tab": "",
  "order": 5,
  "disp": true,
  "width": "6"
}, {
  "id": "9adf3181.83d1",
  "type": "ui_group",
  "z": "",
  "name": "Fastening Info",
  "tab": "",
  "order": 4,
  "disp": true,
  "width": "27"
}, {
  "id": "254e9c.c0e64164",
  "type": "ui_group",
  "z": "",
  "name": "Current Tool Torque and Angle",
  "tab": "",
  "order": 3,
  "disp": true,
  "width": "30"
}, {
  "id": "9cbee198.4e693",
  "type": "ui_group",
  "z": "",
  "name": "Current System Status",
  "tab": "",
  "order": 5,
  "disp": true,
  "width": "30"
}, {
  "id": "5b48bf89.a9c94",
  "type": "ui_group",
  "z": "",
  "name": "Control Buttons",
  "tab": "",
  "order": 6,
  "disp": false,
  "width": "4"
}, {
  "id": "cd5aab59.411238",
  "type": "ui_group",
  "z": "",
  "name": "Tool Controls",
  "tab": "",
  "order": 1,
  "disp": true,
  "width": "30"
}, {
  "id": "f1e7d0fa.99e25",
  "type": "ui_tab",
  "z": "",
  "name": "Rear Part Loader Controls",
  "icon": "dashboard",
  "order": 3
}, {
  "id": "35e4d392.52d70c",
  "type": "ui_group",
  "z": "",
  "name": "System Controls",
  "tab": "f1e7d0fa.99e25",
  "order": 1,
  "disp": true,
  "width": "30"
}, {
  "id": "8eb92708.fbcd08",
  "type": "ui_group",
  "z": "",
  "name": "System Status",
  "tab": "f1e7d0fa.99e25",
  "order": 2,
  "disp": true,
  "width": "30"
}, {
  "id": "c677c8e1.cd56a8",
  "type": "serial-port",
  "z": "f9090ee5.2f043",
  "serialport": "COM9",
  "serialbaud": "57600",
  "databits": "8",
  "parity": "none",
  "stopbits": "1",
  "newline": "100",
  "bin": "false",
  "out": "time",
  "addchar": false
}, {
  "id": "d9df943b.3eca78",
  "type": "serial-port",
  "z": "",
  "serialport": "COM1",
  "serialbaud": "9600",
  "databits": "8",
  "parity": "even",
  "stopbits": "1",
  "newline": "100",
  "bin": "false",
  "out": "time",
  "addchar": false
}, {
  "id": "2c249d31.19d192",
  "type": "ui_group",
  "z": "",
  "name": "Dimm Status Response in ms",
  "tab": "e66d4df4.78e51",
  "order": 7,
  "disp": true,
  "width": "30"
}, {
  "id": "8e14c689.93e478",
  "type": "ui_group",
  "z": "",
  "name": "Barcode Read Value",
  "tab": "e66d4df4.78e51",
  "order": 6,
  "disp": true,
  "width": "30"
}, {
  "id": "326260b7.5dabb",
  "type": "ui_group",
  "z": "",
  "name": "System Controls",
  "tab": "",
  "order": 1,
  "disp": true,
  "width": "30"
}, {
  "id": "771275b8.db019c",
  "type": "ui_group",
  "z": "",
  "name": "Barcode Read Value",
  "tab": "c54a99a1.b70de8",
  "order": 6,
  "disp": true,
  "width": "30"
}, {
  "id": "fbfaec77.419d7",
  "type": "serial-port",
  "z": "",
  "serialport": "COM1",
  "serialbaud": "9600",
  "databits": "8",
  "parity": "even",
  "stopbits": "1",
  "newline": "100",
  "bin": "false",
  "out": "time",
  "addchar": false
}, {
  "id": "68f7dfcc.56924",
  "type": "ui_group",
  "z": "",
  "name": "Message Transaction Duration",
  "tab": "c54a99a1.b70de8",
  "order": 7,
  "disp": true,
  "width": "30"
}, {
  "id": "627a4b9a.9ba684",
  "type": "ui_group",
  "z": "",
  "name": "DIMM Status Response",
  "tab": "c54a99a1.b70de8",
  "disp": true,
  "width": "6"
}, {
  "id": "150089d7.0ec2e6",
  "type": "ui_group",
  "z": "",
  "name": "RESPONSE TIME HISTORY",
  "tab": "c54a99a1.b70de8",
  "disp": true,
  "width": "30"
}, {
  "id": "c54a99a1.b70de8",
  "type": "ui_tab",
  "z": "",
  "name": "MIM Transaction Data",
  "icon": "fa-tachometer",
  "order": 1
}, {
  "id": "efca008d.eb825",
  "type": "serial-port",
  "z": "",
  "serialport": "com4",
  "serialbaud": "9600",
  "databits": "8",
  "parity": "odd",
  "stopbits": "1",
  "newline": "15",
  "bin": "false",
  "out": "count",
  "addchar": false
}, {
  "id": "279d2b4.34e51d4",
  "type": "comment",
  "z": "b73331c3.9d088",
  "name": "UI Set Robot Registers and IO",
  "info": "Group IO:\nvar incomingValue=msg.payload;\nmsg.url='http://127.0.0.1:3080/SMONDO/SETIOVAL%2019%201%200%20'+incomingValue+'%20'+incomingValue;\nmsg.payload=msg.url;\nreturn msg;\n\nNumber Resgisters:\nvar incomingValue=msg.payload;\nmsg.url='http://'+context.global.robot1IP+'/SMONDO/SETNREG%201%20'+incomingValue;\nmsg.payload=msg.url;\nreturn msg;\n\nString Registers:\nvar incomingValue=msg.payload;\nmsg.url='http://'+context.global.robot1IP+'/SMONDO/SETSREG%2011%20'+incomingValue;\nmsg.payload=msg.url;\nreturn msg;\n\nDigital IO:\nvar incomingValue=msg.payload;\nmsg.url='http://'+context.global.robot1IP+'/SMONDO/SETIOVAL%202%2023%200%20'+incomingValue+'%20'+incomingValue;\nmsg.payload=msg.url;\nreturn msg;\n",
  "x": 270,
  "y": 80,
  "wires": []
}, {
  "id": "d640ce85.c5496",
  "type": "comment",
  "z": "b73331c3.9d088",
  "name": "Read Robot Registers",
  "info": "",
  "x": 1120,
  "y": 80,
  "wires": []
}, {
  "id": "fdc88e4b.f2e2d",
  "type": "ui_slider",
  "z": "b73331c3.9d088",
  "name": "",
  "label": "Robot Speed %",
  "group": "14308ee3.7e5831",
  "order": 1,
  "width": "10",
  "height": "1",
  "passthru": true,
  "topic": "",
  "min": "5",
  "max": "100",
  "step": "5",
  "x": 160,
  "y": 270,
  "wires": [
    ["651b2fc1.1b7aa", "63aaffdb.a5c48"]
  ]
}, {
  "id": "9ce1730f.0540b",
  "type": "ui_gauge",
  "z": "b73331c3.9d088",
  "name": "Robot Speed Gauge",
  "group": "dc32812a.a1de8",
  "order": 0,
  "width": "5",
  "height": "5",
  "gtype": "donut",
  "title": "Robot Speed",
  "label": "",
  "format": "{{value | number:1}}%",
  "min": "1",
  "max": "100",
  "colors": ["#0080ff", "#e6e600", "#00ff00"],
  "seg1": "",
  "seg2": "",
  "x": 1340,
  "y": 240,
  "wires": []
}, {
  "id": "a1ee220b.2a591",
  "type": "ui_text",
  "z": "b73331c3.9d088",
  "group": "77be3399.ca03fc",
  "order": 1,
  "width": "8",
  "height": "1",
  "name": "System Messages",
  "label": "Status Messages:",
  "format": "{{msg.payload}}",
  "layout": "row-left",
  "x": 1330,
  "y": 370,
  "wires": []
}, {
  "id": "71d30320.b6717c",
  "type": "ui_text",
  "z": "b73331c3.9d088",
  "group": "615a1a8a.4f6c84",
  "order": 2,
  "width": "5",
  "height": "1",
  "name": "",
  "label": "Batch Count",
  "format": "{{msg.payload}}",
  "layout": "row-spread",
  "x": 1310,
  "y": 470,
  "wires": []
}, {
  "id": "63b5a50b.2c36ac",
  "type": "ui_text",
  "z": "b73331c3.9d088",
  "group": "615a1a8a.4f6c84",
  "order": 1,
  "width": "5",
  "height": "1",
  "name": "",
  "label": "Total Count",
  "format": "{{msg.payload}}",
  "layout": "row-spread",
  "x": 1310,
  "y": 520,
  "wires": []
}, {
  "id": "bacb11cc.fdc28",
  "type": "ui_gauge",
  "z": "b73331c3.9d088",
  "name": "Cycle time",
  "group": "dc32812a.a1de8",
  "order": 0,
  "width": "5",
  "height": "5",
  "gtype": "donut",
  "title": "Average Cycle Time",
  "label": "",
  "format": "{{value | number:1}}",
  "min": ".5",
  "max": "5",
  "colors": ["#0080ff", "#e6e600", "#00ff00"],
  "x": 1310,
  "y": 190,
  "wires": []
}, {
  "id": "a0b28c6e.a6a21",
  "type": "ui_button",
  "z": "b73331c3.9d088",
  "name": "",
  "group": "38183d8e.9d1662",
  "order": 2,
  "width": "4",
  "height": "2",
  "label": "Initialize System",
  "color": "",
  "bgcolor": "",
  "icon": "",
  "payload": "1",
  "payloadType": "str",
  "topic": "",
  "x": 160,
  "y": 310,
  "wires": [
    ["23650c81.b2c5f4"]
  ]
}, {
  "id": "23650c81.b2c5f4",
  "type": "trigger",
  "z": "b73331c3.9d088",
  "op1": "1",
  "op2": "0",
  "op1type": "str",
  "op2type": "str",
  "duration": "500",
  "extend": false,
  "units": "ms",
  "reset": "",
  "name": "Momentary",
  "x": 360,
  "y": 310,
  "wires": [
    ["e4cf6e96.32609"]
  ]
}, {
  "id": "ec77a118.97f78",
  "type": "ui_text",
  "z": "b73331c3.9d088",
  "group": "77be3399.ca03fc",
  "order": 1,
  "width": "8",
  "height": "1",
  "name": "System Messages",
  "label": "Last Alarm:",
  "format": "{{msg.payload}}",
  "layout": "row-left",
  "x": 1770,
  "y": 330,
  "wires": []
}, {
  "id": "e3c5c201.397a3",
  "type": "trigger",
  "z": "b73331c3.9d088",
  "op1": "1",
  "op2": "0",
  "op1type": "str",
  "op2type": "str",
  "duration": "500",
  "extend": false,
  "units": "ms",
  "reset": "",
  "name": "Momentary",
  "x": 380,
  "y": 230,
  "wires": [
    ["10f6e713.1f0b09"]
  ]
}, {
  "id": "35dc1e77.af4f22",
  "type": "ui_button",
  "z": "b73331c3.9d088",
  "name": "",
  "group": "38183d8e.9d1662",
  "order": 4,
  "width": "4",
  "height": "2",
  "label": "Abort All",
  "color": "",
  "bgcolor": "#FF3333",
  "icon": "",
  "payload": "1",
  "payloadType": "str",
  "topic": "",
  "x": 140,
  "y": 230,
  "wires": [
    ["e3c5c201.397a3"]
  ]
}, {
  "id": "1e5a2497.98945b",
  "type": "ui_button",
  "z": "b73331c3.9d088",
  "name": "",
  "group": "38183d8e.9d1662",
  "order": 5,
  "width": "4",
  "height": "2",
  "passthru": false,
  "label": "Pause Cell ",
  "color": "",
  "bgcolor": "#FFA833",
  "icon": "",
  "payload": "1",
  "payloadType": "str",
  "topic": "",
  "x": 150,
  "y": 190,
  "wires": [
    ["baa1e45e.8fb368"]
  ]
}, {
  "id": "baa1e45e.8fb368",
  "type": "trigger",
  "z": "b73331c3.9d088",
  "op1": "1",
  "op2": "0",
  "op1type": "str",
  "op2type": "str",
  "duration": "2000",
  "extend": false,
  "units": "ms",
  "reset": "",
  "name": "Momentary",
  "x": 380,
  "y": 190,
  "wires": [
    ["abf41303.a9d19"]
  ]
}, {
  "id": "7e44c940.e9a1b8",
  "type": "comment",
  "z": "b73331c3.9d088",
  "name": "How to display an image",
  "info": "Display Fixed Image:\n\n<img src=\"/DSC_0103.jpg\"/>\n\nDisplay dynamic Image:\n<img src=\"/step{{(msg.payload)}}.png\" style=\"width:280px;height:280px;\"/>",
  "x": 1560,
  "y": 570,
  "wires": []
}, {
  "id": "ddd49ba8.2492c8",
  "type": "ui_template",
  "z": "b73331c3.9d088",
  "group": "19f96158.7c284f",
  "name": "Step Process Image",
  "order": 0,
  "width": "24",
  "height": "5",
  "format": "<html>\n<body bgcolor=\"#E6E6FA\">\n<center>\n    <img src=\"/refined_motion_logo.png\" style=\"height:200px; width=589px;\"/>\n    </center>\n</html>\n\n\n",
  "storeOutMessages": true,
  "fwdInMessages": true,
  "templateScope": "local",
  "x": 1339,
  "y": 575,
  "wires": [
    []
  ]
}, {
  "id": "bea078ba.97aee8",
  "type": "link out",
  "z": "b73331c3.9d088",
  "name": "RPL CMD",
  "links": ["cc6ee600.1c28f8"],
  "x": 1405,
  "y": 630,
  "wires": []
}, {
  "id": "9686259a.a58408",
  "type": "comment",
  "z": "ff599afc.f6ff88",
  "name": "Notes",
  "info": "Commands to Drive:\nMove to Position\nMove Velocity\nHome Drives\nSet Torque\nSet Speed\nSet Com Port or Drive\n",
  "x": 1090,
  "y": 60,
  "wires": []
}, {
  "id": "4055c51.bc6853c",
  "type": "json",
  "z": "ff599afc.f6ff88",
  "name": "",
  "pretty": true,
  "x": 1010,
  "y": 460,
  "wires": [
    ["c5d59159.6c546"]
  ]
}, {
  "id": "c5d59159.6c546",
  "type": "function",
  "z": "ff599afc.f6ff88",
  "name": "Set Incoming Servo Values to Global Variables",
  "func": "var incomingMSG = msg.payload;\nvar functionCMD = incomingMSG.functionCMD;\n\n\nif (functionCMD==\"status\"){\n    global.set(\"xPosition\", incomingMSG.xPosition);\n    global.set(\"yPosition\", incomingMSG.yPosition);\n    \n    global.set(\"xTorque\", incomingMSG.xTorque);\n    global.set(\"yTorque\", incomingMSG.yTorque);\n    \n    global.set(\"xReady\", incomingMSG.xReady);\n    global.set(\"yReady\", incomingMSG.yReady);\n    \n    global.set(\"movingDone\", incomingMSG.movingDone);\n    global.set(\"moveID\", incomingMSG.moveID);\n    global.set(\"homingDone\", incomingMSG.homingDone);\n    \n    \n    if (incomingMSG.xReady && incomingMSG.yReady && incomingMSG.zReady){\n    global.set(\"servosOK\", 1);}\n        else {global.set(\"servosOK\", 0);}\n}\n\n\nif (functionCMD==\"setAccel\"){\n    global.set(\"accelVal\", incomingMSG.accelVal);\n\n}\n\n\nvar msg1 = { payload: global.get(\"homingDone\") };\nvar msg2 = { payload: global.get(\"movingDone\") };\nvar msg3 = { payload: global.get(\"xPosition\")};\nvar msg4 = { payload: global.get(\"yPosition\")};\nvar msg5=null;\n\nvar msg6 = { payload: global.get(\"xTorque\")};\nvar msg7 = { payload: global.get(\"yTorque\")};\nvar msg8=null;\n\nvar msg9 = { payload: global.get(\"moveID\")};\nvar msg10 = { payload: global.get(\"accelVal\")};\n\nvar msg11 = { payload: global.get(\"xReady\")};\nvar msg12 = { payload: global.get(\"yReady\")};\nvar msg13= null;\n\n\n\nreturn [ msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10, msg11, msg12, msg13];\n",
  "outputs": "13",
  "noerr": 0,
  "x": 1270,
  "y": 462,
  "wires": [
    [],
    [],
    ["efd3156a.4c6a48"],
    ["a62dd854.11aee8"],
    [],
    ["9c1533fa.d07e6"],
    ["c4c426d3.ebcd88"],
    [],
    ["504ff3b3.3bb9fc"],
    [],
    ["efca5e0d.6c941"],
    ["223a1144.8cb71e"],
    []
  ],
  "outputLabels": ["Homing Complete", "Move Complete", "X Position", "Y Position", "Z Position", "X Torque", "Y Torque", "Z Torque", "MoveID", "", "X Axis Ready", "Y Axis Ready", "Z Axis Ready"]
}, {
  "id": "1f082955.7dfd77",
  "type": "ui_switch",
  "z": "ff599afc.f6ff88",
  "name": "",
  "label": "Torque on/off",
  "group": "35e4d392.52d70c",
  "order": 2,
  "width": "5",
  "height": "1",
  "passthru": true,
  "decouple": "false",
  "topic": "",
  "style": "",
  "onvalue": "991135000 991135003 30 60 0 0 0 0 0",
  "onvalueType": "str",
  "onicon": "",
  "oncolor": "",
  "offvalue": "991135000 991135003 0 0 0 0 0 0 0",
  "offvalueType": "str",
  "officon": "",
  "offcolor": "",
  "x": 606,
  "y": 341,
  "wires": [
    ["2741f2d6.dd928e"]
  ]
}, {
  "id": "c4c426d3.ebcd88",
  "type": "ui_text",
  "z": "ff599afc.f6ff88",
  "group": "8eb92708.fbcd08",
  "order": 3,
  "width": "5",
  "height": "1",
  "name": "",
  "label": "Commanded Torque",
  "format": "{{msg.payload}}",
  "layout": "row-spread",
  "x": 1700,
  "y": 480,
  "wires": []
}, {
  "id": "2f61f2f5.17426e",
  "type": "inject",
  "z": "ff599afc.f6ff88",
  "name": "Trigger on Starup only",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": true,
  "x": 1300,
  "y": 80,
  "wires": [
    ["9d524c67.fa19"]
  ]
}, {
  "id": "b0649985.36c488",
  "type": "ui_slider",
  "z": "ff599afc.f6ff88",
  "name": "",
  "label": "Set Acceleration",
  "group": "35e4d392.52d70c",
  "order": 1,
  "width": "5",
  "height": "1",
  "passthru": true,
  "topic": "",
  "min": "0",
  "max": "2000",
  "step": "5",
  "x": 440,
  "y": 460,
  "wires": [
    ["17292d5e.5c26e3"]
  ]
}, {
  "id": "17292d5e.5c26e3",
  "type": "function",
  "z": "ff599afc.f6ff88",
  "name": "Set Accel",
  "func": "msg.payload='991135000 991135005 '+msg.payload+' 0 0 0 0 0 0';\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 620,
  "y": 460,
  "wires": [
    ["2741f2d6.dd928e"]
  ]
}, {
  "id": "f19070ee.7f9ec",
  "type": "switch",
  "z": "ff599afc.f6ff88",
  "name": "Reset Button",
  "property": "resetButton",
  "propertyType": "global",
  "rules": [{
    "t": "eq",
    "v": "1",
    "vt": "str"
  }],
  "checkall": "true",
  "outputs": 1,
  "x": 610,
  "y": 380,
  "wires": [
    ["2741f2d6.dd928e"]
  ]
}, {
  "id": "e5cfb5dc.abbb88",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Home CMD",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135001 0 0 0 0 0 0 0",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 610,
  "y": 420,
  "wires": [
    ["2741f2d6.dd928e"]
  ]
}, {
  "id": "9d524c67.fa19",
  "type": "link out",
  "z": "ff599afc.f6ff88",
  "name": "",
  "links": ["52f7d67c.2ab208"],
  "x": 1435,
  "y": 60,
  "wires": []
}, {
  "id": "3c95a8ec.d08728",
  "type": "function",
  "z": "ff599afc.f6ff88",
  "name": "",
  "func": "msg.headers = {\n    \"Node-RED-Deployment-Type\":\"reload\"\n}\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 1670,
  "y": 160,
  "wires": [
    ["9ff317f8.a1c368"]
  ]
}, {
  "id": "9ff317f8.a1c368",
  "type": "http request",
  "z": "ff599afc.f6ff88",
  "name": "",
  "method": "POST",
  "ret": "txt",
  "url": "http://192.168.1.101:1880/flows",
  "tls": "",
  "x": 1830,
  "y": 160,
  "wires": [
    []
  ]
}, {
  "id": "6c26a766.027bc8",
  "type": "comment",
  "z": "ff599afc.f6ff88",
  "name": "Restart App",
  "info": "",
  "x": 1690,
  "y": 120,
  "wires": []
}, {
  "id": "a62dd854.11aee8",
  "type": "ui_text",
  "z": "ff599afc.f6ff88",
  "group": "8eb92708.fbcd08",
  "order": 2,
  "width": "5",
  "height": "1",
  "name": "",
  "label": "LH Position",
  "format": "{{msg.payload|number:3}}",
  "layout": "col-center",
  "x": 1670,
  "y": 400,
  "wires": []
}, {
  "id": "efd3156a.4c6a48",
  "type": "ui_text",
  "z": "ff599afc.f6ff88",
  "group": "8eb92708.fbcd08",
  "order": 1,
  "width": "5",
  "height": "1",
  "name": "",
  "label": "RH Position",
  "format": "{{msg.payload|number:3}}",
  "layout": "col-center",
  "x": 1670,
  "y": 360,
  "wires": []
}, {
  "id": "30a1adec.4ee912",
  "type": "debug",
  "z": "ff599afc.f6ff88",
  "name": "",
  "active": false,
  "console": "false",
  "complete": "false",
  "x": 1068,
  "y": 293.5,
  "wires": []
}, {
  "id": "223a1144.8cb71e",
  "type": "ui_text",
  "z": "ff599afc.f6ff88",
  "group": "8eb92708.fbcd08",
  "order": 1,
  "width": "5",
  "height": "1",
  "name": "",
  "label": "RH Axis Status",
  "format": "{{msg.payload|number:3}}",
  "layout": "col-center",
  "x": 1690,
  "y": 600,
  "wires": []
}, {
  "id": "efca5e0d.6c941",
  "type": "ui_text",
  "z": "ff599afc.f6ff88",
  "group": "8eb92708.fbcd08",
  "order": 1,
  "width": "5",
  "height": "1",
  "name": "",
  "label": "LH Axis Status",
  "format": "{{msg.payload|number:3}}",
  "layout": "col-center",
  "x": 1690,
  "y": 560,
  "wires": []
}, {
  "id": "2741f2d6.dd928e",
  "type": "daemon",
  "z": "ff599afc.f6ff88",
  "command": "C:\\Users\\Motion Cell\\.node-red\\RPL-Release\\Motion_Control.exe",
  "args": "",
  "cr": true,
  "redo": true,
  "op": "lines",
  "name": "Motion Control",
  "x": 841,
  "y": 443,
  "wires": [
    ["4055c51.bc6853c", "30a1adec.4ee912"],
    [],
    []
  ]
}, {
  "id": "6009e253.25021c",
  "type": "inject",
  "z": "ff599afc.f6ff88",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": false,
  "x": 208,
  "y": 416,
  "wires": [
    ["e5cfb5dc.abbb88"]
  ]
}, {
  "id": "f1708d9b.9b8d7",
  "type": "inject",
  "z": "ff599afc.f6ff88",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": false,
  "x": 221,
  "y": 360,
  "wires": [
    ["f19070ee.7f9ec"]
  ]
}, {
  "id": "d25d5389.f7c54",
  "type": "switch",
  "z": "fc6f34bf.194538",
  "name": "Wait for Move 10100 complete",
  "property": "moveID",
  "propertyType": "global",
  "rules": [{
    "t": "eq",
    "v": "10100",
    "vt": "str"
  }, {
    "t": "else"
  }],
  "checkall": "true",
  "outputs": 2,
  "x": 346,
  "y": 377,
  "wires": [
    ["5eb2673b.b5f348"],
    ["f04b061a.bcc408"]
  ]
}, {
  "id": "f04b061a.bcc408",
  "type": "delay",
  "z": "fc6f34bf.194538",
  "name": "",
  "pauseType": "delay",
  "timeout": ".1",
  "timeoutUnits": "seconds",
  "rate": "1",
  "nbRateUnits": "1",
  "rateUnits": "second",
  "randomFirst": "1",
  "randomLast": "5",
  "randomUnits": "seconds",
  "drop": false,
  "x": 368,
  "y": 451,
  "wires": [
    ["d25d5389.f7c54"]
  ]
}, {
  "id": "7205391f.6b1508",
  "type": "change",
  "z": "fc6f34bf.194538",
  "name": "Move to Point 10100",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135002 500 500 0 500 1 0 10100",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 630,
  "y": 75,
  "wires": [
    ["ea2de739.93ea18"]
  ]
}, {
  "id": "ea2de739.93ea18",
  "type": "link out",
  "z": "fc6f34bf.194538",
  "name": "",
  "links": ["a37815a2.6fad28"],
  "x": 812,
  "y": 75,
  "wires": []
}, {
  "id": "a37815a2.6fad28",
  "type": "link in",
  "z": "ff599afc.f6ff88",
  "name": "To Motion Controller",
  "links": ["ea2de739.93ea18", "1bd0c2b6.b692ed", "20f45286.2854ce"],
  "x": 592,
  "y": 551,
  "wires": [
    ["2741f2d6.dd928e"]
  ]
}, {
  "id": "5eb2673b.b5f348",
  "type": "change",
  "z": "fc6f34bf.194538",
  "name": "Move to Point 10200",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135002 100 100 0 500 1 0 10200",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 661,
  "y": 371,
  "wires": [
    ["1bd0c2b6.b692ed"]
  ]
}, {
  "id": "1bd0c2b6.b692ed",
  "type": "link out",
  "z": "fc6f34bf.194538",
  "name": "",
  "links": ["a37815a2.6fad28"],
  "x": 977,
  "y": 368,
  "wires": []
}, {
  "id": "521d0b67.d061f4",
  "type": "switch",
  "z": "fc6f34bf.194538",
  "name": "Wait for Move 10200 complete",
  "property": "moveID",
  "propertyType": "global",
  "rules": [{
    "t": "eq",
    "v": "10200",
    "vt": "str"
  }, {
    "t": "else"
  }],
  "checkall": "true",
  "outputs": 2,
  "x": 276,
  "y": 573,
  "wires": [
    [],
    ["3b228bf7.5b1234"]
  ]
}, {
  "id": "3b228bf7.5b1234",
  "type": "delay",
  "z": "fc6f34bf.194538",
  "name": "",
  "pauseType": "delay",
  "timeout": ".1",
  "timeoutUnits": "seconds",
  "rate": "1",
  "nbRateUnits": "1",
  "rateUnits": "second",
  "randomFirst": "1",
  "randomLast": "5",
  "randomUnits": "seconds",
  "drop": false,
  "x": 277,
  "y": 666,
  "wires": [
    ["521d0b67.d061f4"]
  ]
}, {
  "id": "d3cb79c2.f9d6a8",
  "type": "inject",
  "z": "fc6f34bf.194538",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": false,
  "x": 236,
  "y": 75,
  "wires": [
    ["7205391f.6b1508", "d25d5389.f7c54"]
  ]
}, {
  "id": "9c1533fa.d07e6",
  "type": "ui_text",
  "z": "ff599afc.f6ff88",
  "group": "8eb92708.fbcd08",
  "order": 3,
  "width": "5",
  "height": "1",
  "name": "",
  "label": "Commanded Torque",
  "format": "{{msg.payload}}",
  "layout": "row-spread",
  "x": 1700,
  "y": 440,
  "wires": []
}, {
  "id": "cc6ee600.1c28f8",
  "type": "link in",
  "z": "ff599afc.f6ff88",
  "name": "",
  "links": ["bea078ba.97aee8"],
  "x": 116,
  "y": 698,
  "wires": [
    ["eff8cbd1.3ac5f8"]
  ]
}, {
  "id": "b7a7d094.ace3b",
  "type": "switch",
  "z": "ff599afc.f6ff88",
  "name": "Rear Part Loader CMD List",
  "property": "payload",
  "propertyType": "msg",
  "rules": [{
    "t": "eq",
    "v": "1",
    "vt": "num"
  }, {
    "t": "eq",
    "v": "2",
    "vt": "str"
  }, {
    "t": "eq",
    "v": "3",
    "vt": "str"
  }, {
    "t": "eq",
    "v": "4",
    "vt": "str"
  }, {
    "t": "eq",
    "v": "5",
    "vt": "str"
  }, {
    "t": "eq",
    "v": "6",
    "vt": "str"
  }, {
    "t": "eq",
    "v": "7",
    "vt": "str"
  }, {
    "t": "eq",
    "v": "8",
    "vt": "str"
  }, {
    "t": "eq",
    "v": "9",
    "vt": "str"
  }, {
    "t": "eq",
    "v": "10",
    "vt": "str"
  }, {
    "t": "eq",
    "v": "101",
    "vt": "str"
  }, {
    "t": "eq",
    "v": "102",
    "vt": "str"
  }, {
    "t": "eq",
    "v": "901",
    "vt": "str"
  }, {
    "t": "eq",
    "v": "902",
    "vt": "str"
  }],
  "checkall": "true",
  "outputs": 14,
  "x": 432,
  "y": 700.5,
  "wires": [
    ["c97dbcd.dbd684"],
    ["3e6fdf4b.d8e1f"],
    ["b187982f.614948"],
    ["741c33e.75c6ecc"],
    ["708d81cf.ca228"],
    ["b46fe325.3de1e"],
    ["f5ca895c.8a5908"],
    ["6b1dfa5e.1a8be4"],
    ["4e081b92.1347d4"],
    ["883604bc.dc5038"],
    ["784fe17c.703b3"],
    ["a097d52.87be528"],
    ["de965ed7.94f31"],
    ["3b9352ac.bf5f6e"]
  ],
  "inputLabels": ["In from Robot"],
  "outputLabels": ["Move Pos 1", "Move Pos 2", "Move Pos 3", "Move Pos 4", "Move Pos 5", "", "", "", "", "", "", "", null, null]
}, {
  "id": "c97dbcd.dbd684",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Move to Point 10100",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135002 17 17 0 500 1 0 10100",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 703.5,
  "y": 603,
  "wires": [
    ["20f45286.2854ce"]
  ]
}, {
  "id": "784fe17c.703b3",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Home CMD",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135001 0 0 0 0 0 0 0",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 678.5,
  "y": 986,
  "wires": [
    ["20f45286.2854ce"]
  ]
}, {
  "id": "3e6fdf4b.d8e1f",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Move to Point 10200",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135002 188 188 0 500 1 0 10200",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 703.5,
  "y": 638,
  "wires": [
    ["20f45286.2854ce"]
  ]
}, {
  "id": "b187982f.614948",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Move to Point 10300",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135002 277 277 0 500 1 0 10300",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 706.5,
  "y": 674,
  "wires": [
    ["20f45286.2854ce"]
  ]
}, {
  "id": "a097d52.87be528",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Reset CMD",
  "rules": [{
    "t": "set",
    "p": "moveID",
    "pt": "global",
    "to": "0",
    "tot": "num"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 681,
  "y": 1025,
  "wires": [
    ["20f45286.2854ce"]
  ]
}, {
  "id": "20f45286.2854ce",
  "type": "link out",
  "z": "ff599afc.f6ff88",
  "name": "",
  "links": ["a37815a2.6fad28"],
  "x": 950,
  "y": 1109,
  "wires": []
}, {
  "id": "eff8cbd1.3ac5f8",
  "type": "rbe",
  "z": "ff599afc.f6ff88",
  "name": "",
  "func": "rbe",
  "gap": "",
  "start": "",
  "inout": "out",
  "x": 230,
  "y": 698.5,
  "wires": [
    ["b7a7d094.ace3b"]
  ]
}, {
  "id": "6f943807.ad62b8",
  "type": "ui_button",
  "z": "b73331c3.9d088",
  "name": "",
  "group": "615a1a8a.4f6c84",
  "order": 2,
  "width": "3",
  "height": "1",
  "passthru": false,
  "label": "Batch Count Reset",
  "color": "",
  "bgcolor": "",
  "icon": "",
  "payload": "1",
  "payloadType": "str",
  "topic": "",
  "x": 170,
  "y": 350,
  "wires": [
    ["8bd56ec.6b2199", "c92e97e2.b1e858"]
  ]
}, {
  "id": "c820a26c.8b819",
  "type": "ui_switch",
  "z": "b73331c3.9d088",
  "name": "",
  "label": "Manual Station Jog",
  "group": "d97c12a2.b68f2",
  "order": 2,
  "width": 0,
  "height": 0,
  "passthru": true,
  "decouple": "false",
  "topic": "",
  "style": "",
  "onvalue": "1",
  "onvalueType": "str",
  "onicon": "",
  "oncolor": "",
  "offvalue": "0",
  "offvalueType": "str",
  "officon": "",
  "offcolor": "",
  "x": 170,
  "y": 440,
  "wires": [
    ["57cd0560.03404c"]
  ]
}, {
  "id": "99e67073.a847c",
  "type": "robot-socket-get",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "numreg",
  "index": "111",
  "source": "http",
  "regpoint": "a5627da9.62f63",
  "x": 1110,
  "y": 190,
  "wires": [
    ["bacb11cc.fdc28"]
  ]
}, {
  "id": "a28333b1.844f3",
  "type": "robot-socket-get",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "numreg",
  "index": "1",
  "source": "file",
  "regpoint": "a5627da9.62f63",
  "x": 1090,
  "y": 240,
  "wires": [
    ["9ce1730f.0540b"]
  ]
}, {
  "id": "ea4eb9bf.687b48",
  "type": "robot-socket-get",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "SysVar",
  "index": "1",
  "source": "file",
  "regpoint": "a5627da9.62f63",
  "x": 1090,
  "y": 290,
  "wires": [
    ["19ca8ada.5c5cc5"]
  ]
}, {
  "id": "9e18088f.695668",
  "type": "robot-socket-get",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "strreg",
  "index": "10",
  "source": "file",
  "regpoint": "a5627da9.62f63",
  "x": 1090,
  "y": 370,
  "wires": [
    ["a1ee220b.2a591"]
  ]
}, {
  "id": "dfad3621.4c9b78",
  "type": "robot-socket-get",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "numreg",
  "index": "99",
  "source": "file",
  "regpoint": "a5627da9.62f63",
  "x": 1100,
  "y": 470,
  "wires": [
    ["71d30320.b6717c"]
  ]
}, {
  "id": "5a5c0b4b.43a654",
  "type": "robot-socket-get",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "numreg",
  "index": "100",
  "source": "file",
  "regpoint": "a5627da9.62f63",
  "x": 1100,
  "y": 520,
  "wires": [
    ["63b5a50b.2c36ac"]
  ]
}, {
  "id": "7ca02404.6280ec",
  "type": "robot-socket-get",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "strreg",
  "index": "11",
  "source": "file",
  "regpoint": "a5627da9.62f63",
  "x": 1090,
  "y": 420,
  "wires": [
    ["fb0b0e2f.2240d"]
  ]
}, {
  "id": "fb0b0e2f.2240d",
  "type": "ui_text",
  "z": "b73331c3.9d088",
  "group": "77be3399.ca03fc",
  "order": 1,
  "width": "8",
  "height": "1",
  "name": "System Messages",
  "label": "Selected Program :",
  "format": "{{msg.payload.strreg.REG11}}",
  "layout": "row-left",
  "x": 1330,
  "y": 420,
  "wires": []
}, {
  "id": "e873930c.4d0df",
  "type": "robot-socket-get",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "numreg",
  "index": "8",
  "source": "file",
  "regpoint": "a5627da9.62f63",
  "x": 1089,
  "y": 575,
  "wires": [
    ["ddd49ba8.2492c8"]
  ]
}, {
  "id": "dabb7450.cf0338",
  "type": "robot-socket-get",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "numreg",
  "index": "52",
  "source": "file",
  "regpoint": "a5627da9.62f63",
  "x": 1100,
  "y": 630,
  "wires": [
    ["b75d977c.7d3778"]
  ]
}, {
  "id": "b75d977c.7d3778",
  "type": "rbe",
  "z": "b73331c3.9d088",
  "name": "",
  "func": "rbe",
  "gap": "",
  "start": "",
  "inout": "out",
  "x": 1280,
  "y": 630,
  "wires": [
    ["bea078ba.97aee8"]
  ]
}, {
  "id": "6338652e.2b4a5c",
  "type": "robot-socket-set",
  "z": "ff599afc.f6ff88",
  "name": "",
  "reg": "numreg",
  "index": "53",
  "regpoint": "a5627da9.62f63",
  "simulated": "0",
  "x": 1860,
  "y": 520,
  "wires": [
    []
  ]
}, {
  "id": "e4cf6e96.32609",
  "type": "robot-socket-set",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "Flag",
  "index": "3",
  "regpoint": "a5627da9.62f63",
  "simulated": "0",
  "x": 600,
  "y": 310,
  "wires": [
    ["5403ea37.91c354"]
  ]
}, {
  "id": "10f6e713.1f0b09",
  "type": "robot-socket-set",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "Flag",
  "index": "2",
  "regpoint": "a5627da9.62f63",
  "simulated": "0",
  "x": 600,
  "y": 230,
  "wires": [
    ["5403ea37.91c354"]
  ]
}, {
  "id": "abf41303.a9d19",
  "type": "robot-socket-set",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "DOUT",
  "index": "28",
  "regpoint": "a5627da9.62f63",
  "simulated": "0",
  "x": 590,
  "y": 190,
  "wires": [
    ["5403ea37.91c354"]
  ]
}, {
  "id": "63aaffdb.a5c48",
  "type": "robot-socket-set",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "numreg",
  "index": "1",
  "regpoint": "a5627da9.62f63",
  "simulated": "0",
  "x": 600,
  "y": 270,
  "wires": [
    ["5403ea37.91c354"]
  ]
}, {
  "id": "8bd56ec.6b2199",
  "type": "robot-socket-set",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "numreg",
  "index": "99",
  "regpoint": "a5627da9.62f63",
  "simulated": "0",
  "x": 580,
  "y": 350,
  "wires": [
    ["5403ea37.91c354"]
  ]
}, {
  "id": "57cd0560.03404c",
  "type": "robot-socket-set",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "DOUT",
  "index": "135",
  "regpoint": "a5627da9.62f63",
  "simulated": "0",
  "x": 580,
  "y": 440,
  "wires": [
    ["5403ea37.91c354"]
  ]
}, {
  "id": "20f54bd9.45df54",
  "type": "rbe",
  "z": "b73331c3.9d088",
  "name": "",
  "func": "rbe",
  "gap": "",
  "start": "",
  "inout": "out",
  "x": 1400,
  "y": 290,
  "wires": [
    ["23d66ec.e7c0a92"]
  ]
}, {
  "id": "19ca8ada.5c5cc5",
  "type": "switch",
  "z": "b73331c3.9d088",
  "name": "",
  "property": "payload",
  "propertyType": "msg",
  "rules": [{
    "t": "neq",
    "v": "",
    "vt": "str"
  }],
  "checkall": "true",
  "outputs": 1,
  "x": 1280,
  "y": 290,
  "wires": [
    ["20f54bd9.45df54"]
  ]
}, {
  "id": "93e59f2b.78f82",
  "type": "ui_toast",
  "z": "b73331c3.9d088",
  "position": "top right",
  "displayTime": "3",
  "highlight": "",
  "outputs": 0,
  "ok": "OK",
  "cancel": "",
  "topic": "",
  "name": "",
  "x": 1770,
  "y": 290,
  "wires": []
}, {
  "id": "23d66ec.e7c0a92",
  "type": "change",
  "z": "b73331c3.9d088",
  "name": "",
  "rules": [{
    "t": "set",
    "p": "topic",
    "pt": "msg",
    "to": "Alarm Notice:",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 1540,
  "y": 290,
  "wires": [
    ["93e59f2b.78f82", "ec77a118.97f78"]
  ]
}, {
  "id": "5403ea37.91c354",
  "type": "link out",
  "z": "b73331c3.9d088",
  "name": "",
  "links": ["4e5d358.e92ffcc"],
  "x": 755,
  "y": 190,
  "wires": []
}, {
  "id": "4e5d358.e92ffcc",
  "type": "link in",
  "z": "b73331c3.9d088",
  "name": "",
  "links": ["5403ea37.91c354"],
  "x": 885,
  "y": 190,
  "wires": [
    ["99e67073.a847c", "a28333b1.844f3", "ea4eb9bf.687b48", "9e18088f.695668", "7ca02404.6280ec", "dfad3621.4c9b78", "5a5c0b4b.43a654", "e873930c.4d0df", "dabb7450.cf0338"]
  ]
}, {
  "id": "7a68d66b.a42838",
  "type": "inject",
  "z": "b73331c3.9d088",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "5",
  "crontab": "",
  "once": false,
  "x": 570,
  "y": 130,
  "wires": [
    ["5403ea37.91c354"]
  ]
}, {
  "id": "5150582c.0a1b88",
  "type": "robot-socket-set",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "numreg",
  "index": "112",
  "regpoint": "a5627da9.62f63",
  "simulated": "0",
  "x": 580,
  "y": 390,
  "wires": [
    []
  ]
}, {
  "id": "c92e97e2.b1e858",
  "type": "change",
  "z": "b73331c3.9d088",
  "name": "",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": ".001",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 360,
  "y": 390,
  "wires": [
    ["5150582c.0a1b88"]
  ]
}, {
  "id": "504ff3b3.3bb9fc",
  "type": "delay",
  "z": "ff599afc.f6ff88",
  "name": "",
  "pauseType": "rate",
  "timeout": "5",
  "timeoutUnits": "seconds",
  "rate": "1",
  "nbRateUnits": ".5",
  "rateUnits": "second",
  "randomFirst": "1",
  "randomLast": "5",
  "randomUnits": "seconds",
  "drop": true,
  "x": 1680,
  "y": 520,
  "wires": [
    ["6338652e.2b4a5c"]
  ]
}, {
  "id": "651b2fc1.1b7aa",
  "type": "ui_text",
  "z": "b73331c3.9d088",
  "group": "14308ee3.7e5831",
  "order": 0,
  "width": "4",
  "height": "1",
  "name": "Robot Speed",
  "label": "",
  "format": "{{msg.payload}}",
  "layout": "row-left",
  "x": 820,
  "y": 270,
  "wires": []
}, {
  "id": "9590fb06.61e538",
  "type": "function",
  "z": "f9090ee5.2f043",
  "name": "Hex to ASCII Converter",
  "func": "\n {\n    var hex  = msg.payload;  \n    var str = '';  \n    for (var n = 0; n < hex.length; n += 2) {  \n        str += String.fromCharCode(parseInt(hex.substr(n, 2), 16));  \n    }\n\n}\n msg.payload=str;\n   //var newMsg = {payload:str};\n  //  var newMsg = {payload:str};\n    console.log(msg);\n   return msg;\n",
  "outputs": 1,
  "noerr": 0,
  "x": 590,
  "y": 140,
  "wires": [
    ["85bc5185.9aa25"]
  ]
}, {
  "id": "b47150fe.2d816",
  "type": "inject",
  "z": "f9090ee5.2f043",
  "name": "Barcoad Scan",
  "topic": "",
  "payload": "025403",
  "payloadType": "str",
  "repeat": "",
  "crontab": "",
  "once": false,
  "x": 180,
  "y": 140,
  "wires": [
    ["d602cd8a.262c8"]
  ]
}, {
  "id": "3157b80d.9597e8",
  "type": "comment",
  "z": "f9090ee5.2f043",
  "name": "To Barcode Reader",
  "info": "",
  "x": 90,
  "y": 40,
  "wires": []
}, {
  "id": "d602cd8a.262c8",
  "type": "ui_button",
  "z": "f9090ee5.2f043",
  "name": "",
  "group": "d97c12a2.b68f2",
  "order": 1,
  "width": "5",
  "height": "1",
  "passthru": true,
  "label": "Scan Barcode",
  "color": "",
  "bgcolor": "",
  "icon": "",
  "payload": "025403",
  "payloadType": "str",
  "topic": "",
  "x": 360,
  "y": 140,
  "wires": [
    ["9590fb06.61e538"]
  ]
}, {
  "id": "6631c77f.3615f8",
  "type": "ui_text",
  "z": "f9090ee5.2f043",
  "group": "771275b8.db019c",
  "order": 1,
  "width": "15",
  "height": "1",
  "name": "Barcode Val",
  "label": "",
  "format": "{{msg.payload}}",
  "layout": "row-left",
  "x": 710,
  "y": 260,
  "wires": []
}, {
  "id": "4345573d.086c08",
  "type": "link in",
  "z": "f9090ee5.2f043",
  "name": "",
  "links": ["b7925579.670cd8"],
  "x": 235,
  "y": 100,
  "wires": [
    ["d602cd8a.262c8"]
  ]
}, {
  "id": "8bd693a6.79711",
  "type": "serial in",
  "z": "f9090ee5.2f043",
  "name": "Matrix Reader",
  "serial": "a27edcb4.b4265",
  "x": 140,
  "y": 340,
  "wires": [
    ["8257bd1a.f8e67"]
  ]
}, {
  "id": "85bc5185.9aa25",
  "type": "serial out",
  "z": "f9090ee5.2f043",
  "name": "Matrix Reader",
  "serial": "a27edcb4.b4265",
  "x": 830,
  "y": 140,
  "wires": []
}, {
  "id": "8257bd1a.f8e67",
  "type": "split",
  "z": "f9090ee5.2f043",
  "name": "",
  "splt": "\\n",
  "spltType": "str",
  "arraySplt": 1,
  "arraySpltType": "len",
  "stream": false,
  "addname": "",
  "x": 280,
  "y": 340,
  "wires": [
    ["56bd7f57.7dd01"]
  ]
}, {
  "id": "56bd7f57.7dd01",
  "type": "switch",
  "z": "f9090ee5.2f043",
  "name": "",
  "property": "payload",
  "propertyType": "msg",
  "rules": [{
    "t": "nnull"
  }],
  "checkall": "true",
  "outputs": 1,
  "x": 410,
  "y": 340,
  "wires": [
    ["13de6b82.8a4e94"]
  ]
}, {
  "id": "13de6b82.8a4e94",
  "type": "rbe",
  "z": "f9090ee5.2f043",
  "name": "",
  "func": "rbe",
  "gap": "",
  "start": "",
  "inout": "out",
  "x": 540,
  "y": 340,
  "wires": [
    ["6631c77f.3615f8", "a58793b1.39683", "a0226332.65c71"]
  ]
}, {
  "id": "a58793b1.39683",
  "type": "function",
  "z": "f9090ee5.2f043",
  "name": "Set Global DIMM Scan PN",
  "func": "\nmsg.headers = {\"Content-type\" : \"application/json\"};\n//var msg1 = global.set(\"SendTimeStamp\",Date.now());\n//var msg2 = global.set(\"Part_Serial\",msg.payload);\nvar dimmSN = global.get(\"dimmSN\");\nvar sentTimestamp = global.get(\"sentTimestamp\");\n\n\nvar message = {\"asset_tag\": \"MAT1803-12345\",\n  \"part_serial\": dimmSN.toString(),\n  \"time_stamp\": sentTimestamp,\n \"new_status\": \"IN PROCESS\",\n \"current_operation\"  : \"Memory\"  \n};\n msg.payload = message;\n \n return msg;\n \n //var msg3 = {payload: msg1};\n//var msg4 = {payload: msg2};\n\n",
  "outputs": "1",
  "noerr": 0,
  "x": 760,
  "y": 340,
  "wires": [
    ["a09d3252.4d3f9"]
  ]
}, {
  "id": "a09d3252.4d3f9",
  "type": "json",
  "z": "f9090ee5.2f043",
  "name": "",
  "pretty": true,
  "x": 950,
  "y": 340,
  "wires": [
    ["5f9c4ad6.174364"]
  ]
}, {
  "id": "a0226332.65c71",
  "type": "change",
  "z": "f9090ee5.2f043",
  "name": "Set Vars",
  "rules": [{
    "t": "set",
    "p": "sentTimestamp",
    "pt": "global",
    "to": "",
    "tot": "date"
  }, {
    "t": "set",
    "p": "dimmSN",
    "pt": "global",
    "to": "payload",
    "tot": "msg"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 700,
  "y": 300,
  "wires": [
    []
  ]
}, {
  "id": "8abbcedf.c9b66",
  "type": "change",
  "z": "f9090ee5.2f043",
  "name": "",
  "rules": [{
    "t": "set",
    "p": "recTimestamp",
    "pt": "global",
    "to": "",
    "tot": "date"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 470,
  "y": 600,
  "wires": [
    ["965fa11a.41ca7"]
  ]
}, {
  "id": "1da4bd60.55e023",
  "type": "comment",
  "z": "f9090ee5.2f043",
  "name": "Response from Dimm Query",
  "info": "",
  "x": 120,
  "y": 440,
  "wires": []
}, {
  "id": "92841bfd.1d6398",
  "type": "comment",
  "z": "f9090ee5.2f043",
  "name": "Dimm Query",
  "info": "",
  "x": 70,
  "y": 240,
  "wires": []
}, {
  "id": "5f9c4ad6.174364",
  "type": "http request",
  "z": "f9090ee5.2f043",
  "name": "Post to MIM Server",
  "method": "POST",
  "ret": "txt",
  "url": "http://192.168.0.30:88/service.svc/validatepart",
  "tls": "",
  "x": 1110,
  "y": 340,
  "wires": [
    []
  ]
}, {
  "id": "e065c79.45bdf38",
  "type": "http in",
  "z": "f9090ee5.2f043",
  "name": "",
  "url": "/OperationResultResponse",
  "method": "post",
  "upload": false,
  "swaggerDoc": "",
  "x": 190,
  "y": 600,
  "wires": [
    ["c40cb79b.af0318", "8abbcedf.c9b66", "bc88c5e6.987458"]
  ]
}, {
  "id": "c40cb79b.af0318",
  "type": "http response",
  "z": "f9090ee5.2f043",
  "name": "response",
  "x": 420,
  "y": 640,
  "wires": []
}, {
  "id": "2a73b20d.64599e",
  "type": "function",
  "z": "f9090ee5.2f043",
  "name": "Calculate Com Duration",
  "func": "\nvar timeOut = global.get(\"sentTimestamp\");\nvar timeIn = global.get(\"recTimestamp\");\n\nvar time=  parseInt(timeIn) - parseInt(timeOut);\n\n\nmsg.payload =time;\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 900,
  "y": 600,
  "wires": [
    ["38be6a67.3ac696"]
  ]
}, {
  "id": "38be6a67.3ac696",
  "type": "ui_text",
  "z": "f9090ee5.2f043",
  "group": "68f7dfcc.56924",
  "order": 0,
  "width": 0,
  "height": 0,
  "name": "",
  "label": "Time (ms):",
  "format": "{{msg.payload}}",
  "layout": "row-spread",
  "x": 1110,
  "y": 600,
  "wires": []
}, {
  "id": "965fa11a.41ca7",
  "type": "delay",
  "z": "f9090ee5.2f043",
  "name": "",
  "pauseType": "delay",
  "timeout": "10",
  "timeoutUnits": "milliseconds",
  "rate": "1",
  "nbRateUnits": "1",
  "rateUnits": "second",
  "randomFirst": "1",
  "randomLast": "5",
  "randomUnits": "seconds",
  "drop": false,
  "x": 680,
  "y": 600,
  "wires": [
    ["2a73b20d.64599e"]
  ]
}, {
  "id": "419695bb.e632dc",
  "type": "ui_text",
  "z": "f9090ee5.2f043",
  "group": "627a4b9a.9ba684",
  "order": 6,
  "width": "0",
  "height": "0",
  "name": "Dimm Status Code",
  "label": "",
  "format": "{{msg.payload}}",
  "layout": "row-spread",
  "x": 650,
  "y": 520,
  "wires": []
}, {
  "id": "2d200a82.2b5d26",
  "type": "robot-socket-set",
  "z": "f9090ee5.2f043",
  "name": "",
  "reg": "numreg",
  "index": "58",
  "regpoint": "a5627da9.62f63",
  "simulated": "0",
  "x": 640,
  "y": 560,
  "wires": [
    []
  ]
}, {
  "id": "bc88c5e6.987458",
  "type": "change",
  "z": "f9090ee5.2f043",
  "name": "",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "payload.status",
    "tot": "msg"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 440,
  "y": 560,
  "wires": [
    ["2d200a82.2b5d26", "419695bb.e632dc"]
  ]
}, {
  "id": "f6e1ee56.1da79",
  "type": "robot-socket-get",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "strreg",
  "index": "2",
  "source": "file",
  "regpoint": "a5627da9.62f63",
  "x": 570,
  "y": 700,
  "wires": [
    ["a4fffb5b.c69a48"]
  ]
}, {
  "id": "a4fffb5b.c69a48",
  "type": "debug",
  "z": "b73331c3.9d088",
  "name": "",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "x": 670,
  "y": 780,
  "wires": []
}, {
  "id": "bf938d63.d3583",
  "type": "robot-socket-set",
  "z": "b73331c3.9d088",
  "name": "",
  "reg": "strreg",
  "index": "2",
  "regpoint": "a5627da9.62f63",
  "simulated": "0",
  "x": 370,
  "y": 740,
  "wires": [
    ["f6e1ee56.1da79", "a4fffb5b.c69a48"]
  ]
}, {
  "id": "68298056.12507",
  "type": "inject",
  "z": "b73331c3.9d088",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": false,
  "x": 120,
  "y": 740,
  "wires": [
    ["bf938d63.d3583"]
  ]
}, {
  "id": "d3aa747.6548488",
  "type": "comment",
  "z": "b8008715.42e998",
  "name": "New Tray Query",
  "info": "sentAssetTag",
  "x": 220,
  "y": 140,
  "wires": []
}, {
  "id": "ec0b66ab.214648",
  "type": "debug",
  "z": "b8008715.42e998",
  "name": "",
  "active": true,
  "console": "false",
  "complete": "payload",
  "x": 950,
  "y": 220,
  "wires": []
}, {
  "id": "b4e05c48.d1813",
  "type": "serial in",
  "z": "b8008715.42e998",
  "name": "RFID Reader",
  "serial": "efca008d.eb825",
  "x": 230,
  "y": 200,
  "wires": [
    ["240d0af4.9f5a66", "8d7127c8.a0d9f8"]
  ]
}, {
  "id": "69aca2c0.45879c",
  "type": "inject",
  "z": "b8008715.42e998",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": false,
  "x": 240,
  "y": 340,
  "wires": [
    ["d2f0a84b.d56d28"]
  ]
}, {
  "id": "d2f0a84b.d56d28",
  "type": "function",
  "z": "b8008715.42e998",
  "name": "",
  "func": "//Read = [0x27 ,0x4c ,0x30 ,0x30 ,0x30 ,0x30 ,0x30 ,0x30 ,0x30 ,0x32 ,0x31 ,0x31 ,0x27 ,0x42 ,0x43 ,0x43];\n//msg.payload = new Buffer([0x52 ,0x00 ,0x00 ,0x00 ,0x00 ,0x00 ,0x00 ,0030 ,0x01 ,0x31 ,0x31 ,0xD]);\n//msg.payload = new Buffer([82 ,0 ,0 ,0 ,1 ,0 ,0 ,1 ,1 ,1 ,1 ,13]);\nmsg.payload = Buffer([0x52 ,0x00 ,0x00 ,0x00 ,0x00 ,0x00 ,0x00 ,0030 ,0x01 ,0x31 ,0x31 ,0xD]);\n\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 670,
  "y": 340,
  "wires": [
    ["4cc17d7c.261f44", "efa09e60.19e49"]
  ]
}, {
  "id": "4cc17d7c.261f44",
  "type": "serial out",
  "z": "b8008715.42e998",
  "name": "RFID Reader",
  "serial": "efca008d.eb825",
  "x": 950,
  "y": 300,
  "wires": []
}, {
  "id": "efa09e60.19e49",
  "type": "debug",
  "z": "b8008715.42e998",
  "name": "",
  "active": true,
  "console": "false",
  "complete": "false",
  "x": 950,
  "y": 380,
  "wires": []
}, {
  "id": "240d0af4.9f5a66",
  "type": "change",
  "z": "b8008715.42e998",
  "name": "",
  "rules": [{
    "t": "set",
    "p": "NewTrayTime",
    "pt": "global",
    "to": "",
    "tot": "date"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 490,
  "y": 160,
  "wires": [
    []
  ]
}, {
  "id": "8d7127c8.a0d9f8",
  "type": "change",
  "z": "b8008715.42e998",
  "name": "",
  "rules": [{
    "t": "set",
    "p": "SentAssetTag",
    "pt": "global",
    "to": "payload",
    "tot": "msg"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 490,
  "y": 220,
  "wires": [
    ["ec49f0fc.b7eda"]
  ]
}, {
  "id": "ec49f0fc.b7eda",
  "type": "function",
  "z": "b8008715.42e998",
  "name": "Set Global DIMM Scan PN",
  "func": "\nmsg.headers = {\"Content-type\" : \"application/json\"};\n//var msg1 = global.set(\"SendTimeStamp\",Date.now());\n//var msg2 = global.set(\"Part_Serial\",msg.payload);\nvar asset_tag = global.get(\"SentAssetTag\");\nvar time_stamp = global.get(\"NewTrayTime\");\n\n\nvar message = {\"time_stamp\": time_stamp,\n    \"asset_tag\": asset_tag,\n    \"operation\": \"Memory\",\n    \"new_status\": \"IN PROCESS\"};\n \n msg.payload = message;\n \n return msg;\n \n\n\n",
  "outputs": "1",
  "noerr": 0,
  "x": 740,
  "y": 220,
  "wires": [
    ["ec0b66ab.214648"]
  ]
}, {
  "id": "9348d957.19d548",
  "type": "comment",
  "z": "f9090ee5.2f043",
  "name": "New Tray Query",
  "info": "sentAssetTag\nNewTrayTime",
  "x": 80,
  "y": 720,
  "wires": []
}, {
  "id": "2437ff05.b3cdc",
  "type": "debug",
  "z": "f9090ee5.2f043",
  "name": "",
  "active": true,
  "console": "false",
  "complete": "payload",
  "x": 1170,
  "y": 800,
  "wires": []
}, {
  "id": "71dc8fb8.fc47f",
  "type": "serial in",
  "z": "f9090ee5.2f043",
  "name": "RFID Reader",
  "serial": "efca008d.eb825",
  "x": 90,
  "y": 800,
  "wires": [
    ["7b7b32c.29a7ccc"]
  ]
}, {
  "id": "c176c81.7f06f38",
  "type": "inject",
  "z": "f9090ee5.2f043",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "",
  "crontab": "",
  "once": false,
  "x": 160,
  "y": 1120,
  "wires": [
    ["c66c93ef.0b382"]
  ]
}, {
  "id": "c66c93ef.0b382",
  "type": "function",
  "z": "f9090ee5.2f043",
  "name": "",
  "func": "//Read = [0x27 ,0x4c ,0x30 ,0x30 ,0x30 ,0x30 ,0x30 ,0x30 ,0x30 ,0x32 ,0x31 ,0x31 ,0x27 ,0x42 ,0x43 ,0x43];\n//msg.payload = new Buffer([0x52 ,0x00 ,0x00 ,0x00 ,0x00 ,0x00 ,0x00 ,0030 ,0x01 ,0x31 ,0x31 ,0xD]);\n//msg.payload = new Buffer([82 ,0 ,0 ,0 ,1 ,0 ,0 ,1 ,1 ,1 ,1 ,13]);\nmsg.payload = Buffer([0x52 ,0x00 ,0x00 ,0x00 ,0x00 ,0x00 ,0x00 ,0030 ,0x01 ,0x31 ,0x31 ,0xD]);\n\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 590,
  "y": 1180,
  "wires": [
    ["13da90b2.86be3f", "92d50db0.815b"]
  ]
}, {
  "id": "13da90b2.86be3f",
  "type": "serial out",
  "z": "f9090ee5.2f043",
  "name": "RFID Reader",
  "serial": "efca008d.eb825",
  "x": 870,
  "y": 1140,
  "wires": []
}, {
  "id": "92d50db0.815b",
  "type": "debug",
  "z": "f9090ee5.2f043",
  "name": "",
  "active": true,
  "console": "false",
  "complete": "false",
  "x": 870,
  "y": 1220,
  "wires": []
}, {
  "id": "7b7b32c.29a7ccc",
  "type": "change",
  "z": "f9090ee5.2f043",
  "name": "",
  "rules": [{
    "t": "set",
    "p": "SentAssetTag",
    "pt": "global",
    "to": "payload",
    "tot": "msg"
  }, {
    "t": "set",
    "p": "NewTrayTime",
    "pt": "global",
    "to": "",
    "tot": "date"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 320,
  "y": 800,
  "wires": [
    ["7f995819.cc5328"]
  ]
}, {
  "id": "7f995819.cc5328",
  "type": "function",
  "z": "f9090ee5.2f043",
  "name": "Set Global DIMM Scan PN",
  "func": "\nmsg.headers = {\"Content-type\" : \"application/json\"};\n//var msg1 = global.set(\"SendTimeStamp\",Date.now());\n//var msg2 = global.set(\"Part_Serial\",msg.payload);\nvar asset_tag = global.get(\"SentAssetTag\");\nvar time_stamp = global.get(\"NewTrayTime\");\n\n\nvar message = {\"time_stamp\": time_stamp,\n    \"asset_tag\": asset_tag,\n    \"operation\": \"Memory\",\n    \"new_status\": \"IN PROCESS\"};\n \n msg.payload = message;\n \n return msg;\n \n\n\n",
  "outputs": "1",
  "noerr": 0,
  "x": 600,
  "y": 800,
  "wires": [
    ["2437ff05.b3cdc", "4cb6aa70.686434"]
  ]
}, {
  "id": "4cb6aa70.686434",
  "type": "http request",
  "z": "f9090ee5.2f043",
  "name": "Post to MIM Server",
  "method": "POST",
  "ret": "txt",
  "url": "http://192.168.0.30:88/service.svc/InformationRequest",
  "tls": "",
  "x": 870,
  "y": 760,
  "wires": [
    []
  ]
}, {
  "id": "7b22c8c.54db038",
  "type": "http in",
  "z": "f9090ee5.2f043",
  "name": "",
  "url": "/OperationResultResponse",
  "method": "post",
  "upload": false,
  "swaggerDoc": "",
  "x": 150,
  "y": 880,
  "wires": [
    ["d475e1ec.6e293", "5fec4a4b.342eb4"]
  ]
}, {
  "id": "d475e1ec.6e293",
  "type": "http response",
  "z": "f9090ee5.2f043",
  "name": "response",
  "x": 380,
  "y": 920,
  "wires": []
}, {
  "id": "63112d19.a6e264",
  "type": "inject",
  "z": "f9090ee5.2f043",
  "name": "",
  "topic": "",
  "payload": "{ \t\"asset_tag\": \"MAT1803-12345\", \t\"parts\": { \t\t\"gpn\": \"27006122-01\", \t\t\"mpn\": \"KG01012338-001 12345678\", \t\t\"qty\": \"2\", \t\t\"slots\": \"SLOT2\", \"SLOT4\", \t\t\"time_stamp\": \"20180113095017453130976\", \t\t\"tla_gpn\": \"1023569\" \t}, \t\"status\": \"1\", \t\"tran_id\": \"185642\" }",
  "payloadType": "json",
  "repeat": "",
  "crontab": "",
  "once": false,
  "x": 170,
  "y": 940,
  "wires": [
    ["5fec4a4b.342eb4", "25c8f4bb.495d0c", "22760cc2.166324"]
  ]
}, {
  "id": "a1c38158.6d4c6",
  "type": "function",
  "z": "f9090ee5.2f043",
  "name": "Set Global DIMM Scan PN",
  "func": "\nmsg.headers = {\"Content-type\" : \"application/json\"};\n//var msg1 = global.set(\"SendTimeStamp\",Date.now());\n//var msg2 = global.set(\"Part_Serial\",msg.payload);\nvar asset_tag = global.get(\"SentAssetTag\");\nvar time_stamp = global.get(\"NewTrayTime\");\n\n\nvar message = {\"time_stamp\": time_stamp,\n    \"asset_tag\": asset_tag,\n    \"operation\": \"Memory\",\n    \"new_status\": \"IN PROCESS\"};\n \n msg.payload = message;\n \n return msg;\n \n\n\n",
  "outputs": "1",
  "noerr": 0,
  "x": 600,
  "y": 920,
  "wires": [
    []
  ]
}, {
  "id": "5fec4a4b.342eb4",
  "type": "change",
  "z": "f9090ee5.2f043",
  "name": "",
  "rules": [{
    "t": "set",
    "p": "SentAssetTag",
    "pt": "global",
    "to": "payload",
    "tot": "msg"
  }, {
    "t": "set",
    "p": "NewTrayTime",
    "pt": "global",
    "to": "",
    "tot": "date"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 400,
  "y": 880,
  "wires": [
    []
  ]
}, {
  "id": "25c8f4bb.495d0c",
  "type": "debug",
  "z": "f9090ee5.2f043",
  "name": "",
  "active": true,
  "console": "false",
  "complete": "payload.asset_tag",
  "x": 530,
  "y": 980,
  "wires": []
}, {
  "id": "22760cc2.166324",
  "type": "debug",
  "z": "f9090ee5.2f043",
  "name": "",
  "active": true,
  "console": "false",
  "complete": "payload.parts.gpn",
  "x": 520,
  "y": 1020,
  "wires": []
}, {
  "id": "d671a17.4c1276",
  "type": "function",
  "z": "f9090ee5.2f043",
  "name": "",
  "func": "\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 920,
  "y": 1000,
  "wires": [
    []
  ]
}, {
  "id": "741c33e.75c6ecc",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Move to Point 10400",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135002 366 366 0 500 1 0 10400",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 706,
  "y": 712,
  "wires": [
    ["20f45286.2854ce"]
  ]
}, {
  "id": "708d81cf.ca228",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Move to Point 10500",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135002 455 455 0 500 1 0 10500",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 709,
  "y": 753,
  "wires": [
    ["20f45286.2854ce"]
  ]
}, {
  "id": "b46fe325.3de1e",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Move to Point 10600",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135002 544 544 0 500 1 0 10600",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 708,
  "y": 794,
  "wires": [
    ["20f45286.2854ce"]
  ]
}, {
  "id": "f5ca895c.8a5908",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Move to Point 10700",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135002 632 632 0 500 1 0 10700",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 707,
  "y": 833,
  "wires": [
    ["20f45286.2854ce"]
  ]
}, {
  "id": "6b1dfa5e.1a8be4",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Move to Point 10800",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135002 721 721 0 500 1 0 10800",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 711,
  "y": 871,
  "wires": [
    ["20f45286.2854ce"]
  ]
}, {
  "id": "4e081b92.1347d4",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Move to Point 10900",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135002 810 810 0 500 1 0 10900",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 708,
  "y": 911,
  "wires": [
    ["20f45286.2854ce"]
  ]
}, {
  "id": "883604bc.dc5038",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Move to Point 11000",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135002 899 899 0 500 1 0 11000",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 706,
  "y": 949,
  "wires": [
    ["20f45286.2854ce"]
  ]
}, {
  "id": "de965ed7.94f31",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Inc Up",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135002 1 1 0 500 0 0 901",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 662.5,
  "y": 1064,
  "wires": [
    ["20f45286.2854ce"]
  ]
}, {
  "id": "3b9352ac.bf5f6e",
  "type": "change",
  "z": "ff599afc.f6ff88",
  "name": "Inc Down",
  "rules": [{
    "t": "set",
    "p": "payload",
    "pt": "msg",
    "to": "991135000 991135002 -1 -1 0 500 0 0 902",
    "tot": "str"
  }],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "x": 666.5,
  "y": 1101,
  "wires": [
    ["20f45286.2854ce"]
  ]
}, {
  "id": "de001357.a12fb",
  "type": "comment",
  "z": "b73331c3.9d088",
  "name": "debug",
  "info": "",
  "x": 110,
  "y": 680,
  "wires": []
}]